@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Morpheus";
    src: url('../assets/fonts/Morpheus.ttf') format('truetype');
    src: url('../assets/fonts/Morpheus.eot');
    src: url('../assets/fonts/Morpheus.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Morpheus.woff2') format('woff2'),
        url('../assets/fonts/Morpheus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BlizQuadrata Web";
    src: url('../assets/fonts/BlizQuadrataWeb.ttf') format('truetype');
    src: url('../assets/fonts/BlizQuadrataWeb.eot');
    src: url('../assets/fonts/BlizQuadrataWeb.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/BlizQuadrataWeb.woff2') format('woff2'),
        url('../assets/fonts/BlizQuadrataWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arial Narrow";
    src: url('../assets/fonts/ArialNarrow.ttf') format('truetype');
    src: url('../assets/fonts/ArialNarrow.eot');
    src: url('../assets/fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ArialNarrow.woff2') format('woff2'),
        url('../assets/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body, button {
	cursor: url("../assets/cursors/point.cur"), auto !important;
	font-family: BlizQuadrata Web;
}

button, input[type="submit"], input[type="reset"] { /*Remove the shitty default style*/
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
}

body {
	background-color: #121212;
	width: 100%;
	height: auto;
	overflow-x: hidden;
}

#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center; /*May change later*/
	width: 100%;
	height: 100%;
}

#content > div {
	margin-left: 10px;
	margin-right: 10px;
}

.uiwidow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
	width: 100%;
	margin-top: 5px;
}

.uiwidow > * {
	margin: 5px 0 5px 0;
}

.enemytab {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
}

.enemytab > * {
	margin-bottom: 10px;
}

.enemytab > .emptyressourcebar:nth-of-type(2) {
	margin-top: 20px;
}

.damagezone {
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 280px;
	height: 280px;
	overflow: visible;
	cursor: url("../assets/cursors/attack.cur"), auto !important;
}

.portrait {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	transition-duration: 250ms;
}

.portrait-border {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-image: url('../assets/img/ui/portrait/enemyframe.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.portrait-mob-image {
	position: absolute;
	width: 90%;
	height: 90%;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.damagezone:active .portrait {
	transform: scale(0.975);
}

.levelframe {
	user-select: none;
	width: 40px;
	height: 40px;
	border-radius: 5000px;
	display: flex;
	position: absolute;
	right: 45px;
	bottom: 10px;
	justify-content: center;
	align-items: center;
	background-image: url('../assets/img/ui/portrait/levelframe.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.levelindicator {
	user-select: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
}

.graylevel {
	color: #797979;
}

.greenlevel {
	color: #4ae054;
}

.yellowlevel {
	color: #ffff00; /* d2d200 */
}

.orangelevel {
	color: #ee773c;
}

.redlevel {
	color: #e91817;
}

.skulllevel {
	width: 23px;
	height: 23px;
	color: transparent;
	background-image: url('../assets/img/ui/portrait/skull-level.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.enemyname {
	font-family: Morpheus; 
	color: #fafa00;
	font-size: 22px;
}

.emptyressourcebar {
	position: relative;
	height: 35px;
	width: 90%;
	background-color: #000;
}

.emptyressourcebar:before {
	content: attr(data-label);
    font-size: 18px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
    justify-content: center;
    align-items: center;
}

.emptyressourcebar > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hpbar {
	height: 100%;
	background-color: #2fdb2c;
}

.timebar {
	height: 100%;
	background-color: #f7b934;
}

.playermoneyui p {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 17px;
	font-family: Arial Narrow;
}

.playermoneyui p span {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: 40px;
	height: 20px;
}

.playermoneyui p span:first-child {
	width: 115px;
}

.playermoneyui p img {
	margin-left: 2px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.playercurrencycontainer {
	width: 90%;
	height: auto;
	background-color: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.enemymoneyui {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: unwrap;
}

.enemymoneyui p {
	display: flex;
	align-items: center;
	flex-wrap: unwrap;
	color: #fff;
	font-size: 17px;
	font-family: Arial Narrow;
}

.enemymoneyui p:nth-of-type(2) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
}

.enemymoneyui p span {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: auto;
	height: 20px;
	margin-left: 6px;
}

.enemymoneyui p img {
	margin-left: 2px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

.xpamount {
	color: #be00bb;
	font-size: 20px;
}

.emptyxpbar {
	position: fixed;
	bottom: 0;
	height: 25px;
	width: 80%;
	background-color: #000;
	border-radius: 10px;
	overflow: hidden;
}

.emptyxpbar:before {
	content: attr(data-label);
    font-size: 14px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
    justify-content: center;
    align-items: center;
}

.emptyxpbar > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.xpbar {
	position: relative;
	z-index: -1;
	height: 100%;
	background-color: #8e038b;
}

.damageparticle {
	position: absolute;
	z-index: 10000;
	font-size: 32px; /*Maybe random later*/
	pointer-events: none;
	animation-timing-function: ease-out;
	animation-name: fadeouttotop;
	color: #fff; /*Delete this later*/
	opacity: 0;
}

.normaldamage {
	color: #fff;
}

.criticaldamage {
	color: #f4dd18;
}

@keyframes fadeouttotop {
  0% { opacity: 1; }
  15% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; transform: translateY(-150px);}
}

.showenemyinfobutton {
	width: 90%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	color: #fff;
	font-family: Arial Narrow;
	background-color: #777777;
	margin-top: 10px;
}

.showenemyinfobutton:hover {
	box-shadow: inset 0px 0px 5px red; /*Will change later*/
}

.showenemyinfobutton:active {
	box-shadow: inset 0px 0px 5px gold; /*Will change later*/
}

.playertab {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	min-width: 300px;
	color: #fff;
	font-size: 20px;
}