@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Morpheus";
    src: url('../assets/fonts/Morpheus.ttf') format('truetype');
    src: url('../assets/fonts/Morpheus.eot');
    src: url('../assets/fonts/Morpheus.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Morpheus.woff2') format('woff2'),
        url('../assets/fonts/Morpheus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fritz-Quad";
    src: url('../assets/fonts/Fritz-Quad.ttf') format('truetype');
    src: url('../assets/fonts/Fritz-Quad.eot');
    src: url('../assets/fonts/Fritz-Quad.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Fritz-Quad.woff2') format('woff2'),
        url('../assets/fonts/Fritz-Quad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BlizQuadrata Web";
    src: url('../assets/fonts/BlizQuadrataWeb.ttf') format('truetype');
    src: url('../assets/fonts/BlizQuadrataWeb.eot');
    src: url('../assets/fonts/BlizQuadrataWeb.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/BlizQuadrataWeb.woff2') format('woff2'),
        url('../assets/fonts/BlizQuadrataWeb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Arial Narrow";
    src: url('../assets/fonts/ArialNarrow.ttf') format('truetype');
    src: url('../assets/fonts/ArialNarrow.eot');
    src: url('../assets/fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/ArialNarrow.woff2') format('woff2'),
        url('../assets/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*::-webkit-scrollbar-track {
    background-color: #000000;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: #fff;
}

html, body, button {
	cursor: url("../assets/cursors/point.cur"), auto !important;
	font-family: BlizQuadrata Web;
}

button, input[type="submit"], input[type="reset"] { /*Remove the shitty default style*/
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
}

body {
	background-color: #121212;
	overflow-x: hidden;
}

img {
    pointer-events: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: #00000000 !important;
}

#app {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center; /*May change later*/
	padding-top: 20px;
	width: 100%;
	height: calc(100vh - 20px);
	overflow-y: scroll;
}

#content .sub-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	min-width: 50%;
	height: auto;
}

#content .sub-content:first-of-type {
	justify-content: flex-end;
}

#content .sub-content > div {
	margin: 0 10px 10px 10px;
}

.uiwindow {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
	width: 100%;
	margin-top: 5px;
}

.uiwindow > * {
	margin: 5px 0 5px 0;
}

.loot-corpses-window {
	display: relative;
	width: 280px;
	height: auto;
	max-height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
}

.dead-enemy {
	display: flex;
	width: 95%;
	height: 40px;
	margin: 0 0 8px 0;
	background-color: #363636;
	align-items: center;
	padding: 2px 5px 2px 5px;
	border-radius: 7px;
}

.loot-corpses-window::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 0 6px 6px 0;
}
  
.loot-corpses-window::-webkit-scrollbar-track {
	background: transparent;
}

.dead-enemy:hover {
	box-shadow: inset 0 0 5px 4px #f1e74d !important;
}

.dead-enemy div {
	margin-right: 6px
}

.dead-enemy-portrait {
	height: 34px;
	width: 34px;
	background-size: contain;
	border-radius: 1000px;
}

.dead-enemy-cooldown {
	position: relative;
	right: 40px;
	height: 34px;
	width: 34px;
	z-index: 20;
    pointer-events: none;
	border-radius: 1000px;
}

.loot-frame {
	position: absolute;
	display: flex;
	z-index: 50;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	width: 215px;
	height: 300px;
	padding: 8px;
	background-size: contain;
	border-radius: 8px;
	background-image: url(../assets/img/ui/lootframe/ui-lootpanel.png);
	background-repeat: no-repeat;
	overflow: hidden;
	filter: drop-shadow(-3px 3px 2px #000000);
}

.loot-frame-container {
	position: absolute;
	z-index: 50;
	display: flex;
	flex-direction: column;
	right: 7px;
	top: 93px;
	width: 201px;
	height: 212px;
	/*padding: 8px;*/
	/*background-image: url(../assets/img/ui/merchant/ui-paperdoll-slotbackground.png);*/
	background-size: cover;
	border-radius: 8px;
	overflow-y: scroll;
}

.loot-frame-container::-webkit-scrollbar {
	width: 5px; /* Set the desired width in pixels */
}

.loot-frame-container::-webkit-scrollbar-thumb {
	background: #ffffff77;
	border-radius: 6px 6px 6px 6px;
}
  
.loot-frame-container::-webkit-scrollbar-track {
	background: transparent;
}

.loot-frame-close-button {
	position: absolute;
	z-index: 50;
	top: 16px;
	right: 3px;
	width: 25px;
	height: 25px;
	background-image: url(../assets/img/ui/lootframe/closebuttonup.png);
	background-size: contain;
	border-radius: 8px;
}

.loot-frame-close-button:hover {
	box-shadow: inset #ac13138f 0px 0px 6px 3px; 
}

.loot-frame-close-button:active {
	box-shadow: none !important;
	background-image: url(../assets/img/ui/lootframe/closebuttondown.png) !important;
}

.loot-frame-top-text{
	position: absolute;
	top: 20px; /* 18 for centering */
	left: 85px;
	width: 114px;
	height: 20px;
	text-align: center;
	font-size: 15px;
	color: #eccc14;
}

.loot-frame-portrait {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 72px;
	height: 72px;
	background-image: url(../assets/img/ui/lootframe/lootpanel-icon.png);
	background-size: 105%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	border-radius: 10000px;
}

.loot-frame-item {
	display: flex;
	height: 50px;
	width: 100%;
	margin: 0 0 4px 0;
}

.loot-frame-item-desc {
	position: relative;
	height: 50px;
	width: 122px;
	/*margin-top: 1px;*/
	background-color: #000000b7;
	background-repeat: no-repeat;
	background-size: 122px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 6px 0 6px;
	border-radius: 6px;
	border: solid 1px #2c2c2c;
}

.loot-frame-item-desc p {
	height: 100%;
	display: flex;
	font-size: 15px;
	align-items: center;
}

.loot-frame-item-desc-overlay {
	z-index: 100;
	display: flex;
	position: absolute;
	height: 50px;
	width: 134px;
	right: 7px;
	margin-top: 1px;
	border-radius: 6px;
}

.loot-frame-item:hover .loot-frame-item-desc-overlay {
	box-shadow: inset #6788e4 0px 0px 6px 3px; 
}

.loot-frame-item-icon {
	height: 50px;
	width: 50px;
	margin-right: 4px;
}

.enemy-tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
	width: 280px;
}

.enemy-tab > * {
	margin-bottom: 10px;
}

.damagezone {
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 280px;
	height: 280px;
	overflow: visible;
	cursor: url("../assets/cursors/attack.cur"), auto !important;
}

.portrait {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	transition-duration: 250ms;
}

.portrait-border {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-image: url('../assets/img/ui/portrait/enemyframe.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.portrait-mob-image {
	position: absolute;
	width: 90%;
	height: 90%;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.damagezone:active .portrait {
	transform: scale(0.975);
}

.levelframe {
	user-select: none;
	width: 40px;
	height: 40px;
	border-radius: 5000px;
	display: flex;
	position: absolute;
	right: 45px;
	bottom: 10px;
	justify-content: center;
	align-items: center;
	background-image: url('../assets/img/ui/portrait/levelframe.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.levelindicator {
	user-select: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	text-shadow: 1px 1px 0 #000;
}

.graylevel {
	color: #808080;
}

.greenlevel {
	color: #40bf40;
}

.yellowlevel {
	color: #ffff00; /* d2d200 */
}

.orangelevel {
	color: #ff8040;
}

.redlevel {
	color: #ff1a1a;
}

.skulllevel {
	width: 23px;
	height: 23px;
	color: transparent;
	background-image: url('../assets/img/ui/portrait/skull-level.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.enemyname {
	font-family: Morpheus; 
	color: #fafa00;
	font-size: 22px;
}

.emptyressourcebar {
	position: relative;
	height: 35px;
	width: 90%;
	background-color: #121212;
}

.emptyressourcebar::before {
	content: attr(data-label);
    font-size: 18px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
    justify-content: center;
    align-items: center;
}

.emptyressourcebar > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hpbar {
	height: 100%;
	background-color: #2fdb2c;
}

.timebar {
	height: 100%;
	background-color: #f7b934;
}

.player-money-ui p {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 17px;
	font-family: Arial Narrow;
}

.player-money-ui p span {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: auto;
	height: 20px;
}

.player-money-ui p span:last-child img:last-of-type {
	margin-right: 0 !important;
}

.player-money-ui p img {
	margin-left: 2px;
	margin-right: 6px;
}

.player-currency-container {
	width: 90%;
	height: auto;
	background-color: #131211;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #867a53;
	padding: 0 3px 0 3px;
}

.enemymoneyui {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: auto;
}

.enemymoneyui p {
	display: flex;
	align-items: center;
	flex-wrap: unwrap;
	color: #fff;
	font-size: 17px;
	font-family: Arial Narrow;
	margin-bottom: 8px;
}

.enemymoneyui p:last-child {
	margin: 0 !important;
}
/*
.enemymoneyui p:nth-of-type(2) {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
}
*/
.enemymoneyui p span:last-child img:last-of-type {
	margin-right: 0 !important;
}

.enemymoneyui p span {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: auto;
	height: 20px;
}

.enemymoneyui p img {
	margin-left: 2px;
	margin-right: 6px;
}

.xpamount {
	color: #be00bb;
}

.emptyxpbar {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	height: 14px;
	width: 60%;
	background-color: #000;
	border-radius: 6px;
	border: 1px solid #999;
	overflow: hidden;
	margin: 0 !important;
}

.emptyxpbar::before {
	content: attr(data-label);
    font-size: 14px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
    justify-content: center;
    align-items: center;
}

.emptyxpbar > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.xpbar {
	position: relative;
	z-index: -1;
	height: 100%;
	background-color: #8e038b;
}

.damageparticle {
	position: absolute;
	z-index: 10000;
	font-size: 32px; /*Maybe random later*/
	pointer-events: none;
	animation-timing-function: ease-out;
	animation-name: fadeouttotop;
	color: #fff;
	opacity: 0;
}

.normaldamage {
	color: #fff;
}

.criticaldamage {
	color: #f4dd18;
}

@keyframes fadeouttotop {
  0% { opacity: 1; }
  15% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; transform: translateY(-150px);}
}

@keyframes fadeouttotop-crit {
	0% { opacity: 1; }
	15% { opacity: 1; }
	25% { opacity: 0; }
	100% { opacity: 0; transform: translateY(-55px);}
  }

.showenemyinfobutton {
	width: 90%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: #ece256;
	font-family: Morpheus;
	background: linear-gradient(0deg, #49050d 0%, #6d060d 28%, #810404 50%, #6d060d 72%, #49050d 100%);
	margin-top: 10px;
	border-radius: 10px;
	padding-bottom: 16px;
	transition-duration: 50ms;
	border: 4px #888888;
	border-style: ridge groove groove ridge;
}

.showenemyinfobutton:hover {
	filter: brightness(135%);
	color: #ccc;
}

.showenemyinfobutton:active {
    filter: brightness(90%);
	border: 3px groove #929292;
	color: #ccc;
}

.player-tab {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	min-width: 300px;
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #aaa;
	padding-top: 15px;
}

.player-tab > * {
	margin-bottom: 8px;
}

.player-tab > p:first-child {
	font-family: Morpheus;
	margin-bottom: 20px;
}

.player-tab .settings-button {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	right: 10px;
}

.player-tab .settings-button img {
	width: 100%;
	height: 100%;
}

.player-tab .settings-button:hover img {
	filter: brightness(120%) drop-shadow(0 0 2px #ffffff7a);
}

.enemyInformations {
	padding: 0;
	overflow: hidden;
	width: 90%;
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition-timing-function: ease-in-out;
	transition-duration: 500ms;
	font-size: 20px;
}

.enemyInformations > * {
	margin-bottom: 10px;
}

.backgroundEnvironment {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
	filter: blur(0px); /*Idk if i'll change it*/
	box-shadow: inset 0 0 300px 100px #121212;
}

.killsleft {
	color: #fff;
}

.killcount {
	color: #c00000;
}

.player-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 340px;
}

.bag-button {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	user-select: none;
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	background-color: transparent;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	outline-offset: -1px;
	overflow: visible;
	border-radius: 7px;
}

.bag-button p {
	font-family: Arial Narrow;
	font-size: 18px;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
	color: white;
	margin-bottom: 2px;
}

.ui-icon-open {
	box-shadow: inset 0 0 6px 5px #f1e74d !important;
}

.ui-icon-open:hover {
	box-shadow: inset 0 0 4px 4px #faf066, inset 0 0 6px 5px #f1e74d !important;
}

.ui-icon-open:active {
	box-shadow: inset 0 0 4px 6px #fffbc9, inset 0 0 6px 5px #f1e74d !important;
}

.bag-button:hover {
	box-shadow: inset 0 0 6px 4px #57a5ff57;
}

.bag-button:active {
	box-shadow: inset 0 0 0 2px #ffe74a, inset 0 0 5px 5px #84a6f7;
}

.bag-frame {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 208px; /* 208px min ; 225px max with scrollbar */
	min-height: 52px;
	max-height: 312px;
	overflow-y: auto; /*todo: custom scrollbar*/
	background-color: #000000;
	border-radius: 10px; /* break cant-equip layers (multiply)*/
	border: 1px solid #aaa;
	padding: 6px;
}

.bag-frame::-webkit-scrollbar-track {
    background-color: transparent;
	border-left: 1px solid #aaa;
}

.bag-frame::-webkit-scrollbar {
    width: 8px;
}

.bag-frame::-webkit-scrollbar-thumb {
    border-radius: 0 10px 10px 0;
    background-color: #eee;
}

.bag-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 1px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/img/ui/bag/empty-bag-slot.png');
	border-radius: 14%;
}

.bag-container:hover {
	box-shadow: inset 0 0 4px 6px #57a5ff57;
}

/*
.bag-container:active {
	box-shadow: inset 0 0 0 2px #ffe74a, inset 0 0 5px 5px #84a6f7;
}
*/

.item-placeholder {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
}

.item-placeholder div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.ui-item {
	height: 100%;
	width: 100%;
	border-radius: 14%;
	display: grid;
	grid-template-columns: 1fr;
	overflow: visible;
	user-select: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.ui-item-stacksize {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.ui-item-stacksize p {
	font-family: Arial Narrow;
	font-size: 18px;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000; /*text-shadow go brrrr (to create a border, dont worry)*/
	color: white;
	margin: 0 9px 2px 0;
}

.ui-item-upgrade-level {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.ui-item-upgrade-level p {
	font-family: Arial Narrow;
	font-size: 16px;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000; /*text-shadow go brrrr (to create a border, dont worry)*/
	color: #ffd100;
	margin: 0 0 2px 5px;
}

.player-weapon .ui-item-upgrade-level p {
	font-family: Arial Narrow;
	font-size: 18px;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000; /*text-shadow go brrrr (to create a border, dont worry)*/
	color: #ffd100;
	margin: 0 0 3px 7px;
}

.ui-item div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.ui-item-dragging {
	filter: grayscale(100%);
}

.selected-item {
	box-shadow: inset 0 0 20px 2px #fff2aa;
}

.selected-item:hover {
	box-shadow: inset 0 0 20px 2px #ffffff;
}

.player-weapon .selected-item {
	box-shadow: inset 0 0 30px 3px #fff2aa;
}

.player-weapon .selected-item:hover {
	box-shadow: inset 0 0 30px 3px #ffffff;
}

.cant-equip-layer {
	position: relative;
	display: grid;
	
	grid-template-columns: 1fr;
	user-select: none;
	pointer-events: none;
}

.cant-equip-layer-shop-item-desc {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 60px;
	width: 123px;
}

.cant-equip-layer-shop-item-desc div {
	position: absolute;
	grid-row-start: 1;
	grid-column-start: 1;
	height: 100%;
	width: 100%;
	right: 2px;
	bottom: 2px;
	border-radius: 3px;
}

.cant-equip-layer div {
	position: relative;
	grid-row-start: 1;
	grid-column-start: 1;
	height: 100%;
	width: 100%;
}

.bag-container .cant-equip-layer div {
	position: relative;
	grid-row-start: 1;
	grid-column-start: 1;
	height: 105%;
	width: 105%;
	right: 2px;
	bottom: 2px;
}

.ui-shop-item-slot .cant-equip-layer div {
	border-radius: 6px;
}

.cant-equip-grayscale {
	background-color: #000000;
	mix-blend-mode: color; /* color or saturation */
}

.cant-equip-red {
	background-color: #ff0000; /*ff5858*/
	mix-blend-mode: multiply;
}

.item-quality-border {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: 14%;
}

.player-weapon {
	display: grid;
	grid-template-columns: 1fr;
	width: 80px;
	height: 80px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/img/ui/equipment/empty-weapon-slot.png');
	border-radius: 14%;
	margin: 5px 1px 0px 1px;
}

.player-off-hand {
	background-image: url('../assets/img/ui/equipment/empty-offhand-slot.png') !important;
}

.player-weapon div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.player-weapon:hover {
	box-shadow: inset 0 0 10px 6px #57a5ff57;
}

/* 
.player-weapon:active {
	box-shadow: inset 0 0 0 2px #ffe74a, inset 0 0 8px 8px #84a6f7;
}
*/

.select-item-interaction {
	margin: 8px 0 4px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	min-width: 315px;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
	padding: 3px;
}

.select-item-interaction button {
	margin-right: 5px;
}

.select-item-interaction button:last-of-type {
	margin-left: 5px;
}

.select-item-interaction-button {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	flex-direction: row-reverse;
}

.select-item-interaction button {
	width: auto;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	color: #ece256;
	background: linear-gradient(0deg, #49050d 0%, #6d060d 28%, #810404 50%, #6d060d 72%, #49050d 100%);
	border-radius: 10px;
	transition-duration: 50ms;
	border: 2px #888888;
	border-style: ridge groove groove ridge;
	padding: 3px;
}

.select-item-interaction button:hover {
	filter: brightness(135%);
	color: #ccc;
}

.select-item-interaction button:active {
    filter: brightness(90%);
	border: 2px #929292;
	border-style: groove ridge ridge groove;
	color: #ccc;
}

.button-color-blue {
	background: linear-gradient(0deg, #052049 0%, #062a6d 28%, #043e81 50%, #062a6d 72%, #052049 100%) !important
}

.button-color-green {
	background: linear-gradient(0deg, #054914 0%, #066d1c 28%, #048123 50%, #066d1c 72%, #054914 100%) !important
}

.item-tooltip-placeholder {
	position: absolute;
	width: 280px; /* max size */
	pointer-events: none;
	user-select: none;
}

.item-tooltip {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1000;
	width: auto;
	max-width: 680px; /* 280px default, if sellprice is too high it can be a problem*/
	height: auto;
	pointer-events: none;
	user-select: none;
	border-radius: 7px;
	left: 0;
	bottom: 0;
	border: 2px groove #bbb;
	background-color: #000218c6;
	padding: 8px;
	pointer-events: none;
	user-select: none;
}

.item-tooltip .tooltip-text-damage {
	overflow: hidden;
    white-space: nowrap;
}

.item-tooltip .tooltip-text-sell-price {
	overflow: hidden;
    white-space: nowrap;
}

.item-tooltip p {
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	font-weight: 100;
}

.item-tooltip div {
	display: flex;
	justify-content: space-between;
}

.item-tooltip div p {
	font-size: 18px !important;
	line-height: 20px !important;
	color: #fff !important;
	font-weight: 100 !important;
	margin: 0 !important;
}

.item-tooltip p:first-of-type {
	font-size: 22px;
	line-height: 20px;
	margin-bottom: 4px;
}

.item-tooltip-money {
	color: #fff;
	margin-top: 3px;
	width: auto;
}

.item-tooltip-money span:first-of-type {
	margin-left: 10px;
}

.item-tooltip-money span {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: auto;
	font-size: 18px !important;
	font-family: Arial Narrow;
}

.item-tooltip-money img {
	margin-left: 2px;
	margin-right: 6px;
}

.item-tooltip-money-no-margin-border span:first-child {
	margin-left: 0 !important;
}

.item-tooltip-money-no-margin-border span:nth-child(4) img {
	margin-right: 0 !important;
}

.item-tooltip-money-no-margin {
	margin: 0 !important;
}

.item-tooltip-money-no-margin span {
	margin: 0 !important;
}

.item-tooltip-money-no-margin img {
	margin-right: 0 !important;
}

.player-weapon .item-tooltip-placeholder .item-tooltip {
	left: 83px;
	bottom: 85px;
}

.quality-poor {
	color: #9d9d9d !important;
}

.quality-common {
	color: #fff !important;
}

.quality-uncommon {
	color: #1eff00 !important;
}

.quality-rare {
	color: #0070dd !important;
}

.quality-epic {
	color: #a335ee !important;
}

.quality-legendary {
	color: #ff8000 !important;
}

.quality-artifact {
	color: #e6cc80 !important;
}

.quality-heirloom {
	color: #00ccff !important;
}

.player-related-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 300px;
	width: auto;
	height: auto;
}

.upgrade-item-frame {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	background-color: #000000;
	width: 280px;
	min-height: 410px;
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
	border: 1px solid #aaa;
	background-image: url(../assets/img/ui/upgrade/artifactforge.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.upgrade-item-frame > * {
	position: relative;
}

.upgrade-item-frame-dark-bg-layer {
	width: 100%;
	height: 100%;
	position: absolute !important;
	background-color: #00000073;
	border-radius: 10px;
}

.upgrade-item-slot {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	width: 70px;
	height: 70px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/img/ui/equipment/empty-weapon-slot.png');
	border-radius: 14%;
	margin: 30px 0 10px 0;
}

.upgrade-item-slot div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.upgrade-item-overlay {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
	background-image: url(../assets/img/ui/upgrade/reliciconframe.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	user-select: none;
	pointer-events: none;
}

.upgrade-item-slot-name {
	height: 20px;
	margin: 4px 0 25px 0;
	line-height: 20px;
	font-size: 24px;
}

.upgrade-item-stats-change {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 160px;
	width: 100%;
}

.upgrade-item-stats-change > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 10px;
	width: 100%;
}

.upgrade-item-stats-change > div:last-child {
	margin: 0 !important;
}

.upgrade-item-stats-change img {
	position: absolute;
	animation: growshrink infinite ease-in-out 2.3s;
	transform: scale(1.1);
}

@keyframes growshrink {
	0% { transform: translateX(-1px) scale(1.1); filter: brightness(100%);}
	50% { transform: translateX(1px) scale(1.2); filter: brightness(125%);}
	100% { transform: translateX(-1px) scale(1.1); filter: brightness(100%);}
}

.upgrade-item-button {
	width: auto;
	min-width: 80%;
	max-width: 95%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #ece256;
	background: linear-gradient(0deg, #49050d 0%, #6d060d 28%, #810404 50%, #6d060d 72%, #49050d 100%);
	border-radius: 10px;
	transition-duration: 50ms;
	border: 2px #888888;
	border-style: ridge groove groove ridge;
	padding: 4px;
	margin-bottom: 10px;
}

.upgrade-item-button-gray {
	background: linear-gradient(0deg, #141414 0%, #1a1a1a 28%, #1f1f1f 50%, #1a1a1a 72%, #141414 100%) !important;
	filter: brightness(100%) !important;
	color: #dbdbdb !important;
}

.upgrade-item-button-gray:hover {
	color: #ccc !important;
	filter: brightness(98%) !important;
}

.upgrade-item-button:hover {
	filter: brightness(135%);
	color: #ccc;
}

.upgrade-item-button:active {
    filter: brightness(90%);
	border: 2px #929292;
	border-style: groove ridge ridge groove;
	color: #ccc;
}

.upgrade-item-price p {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 17px;
	font-family: Arial Narrow;
}

.upgrade-item-price p span {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: auto;
	height: 20px;
}

.upgrade-item-price p span:last-child img:last-of-type {
	margin-right: 0 !important;
}

.upgrade-item-price p img {
	margin-left: 2px;
	margin-right: 6px;
}

.settings-window-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 100000;
	width: 100%;
	height: 100%;
	background-color: #00000088;
}

.settings-clickable-background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.settings-frame {
	position: relative;
	width: 600px;
	height: 500px;
	background-color: #000;
	border-radius: 10px;
	border: 1px solid #aaa;
	color: #fff;
	font-size: 18px;
	line-height: 28px;
}

.settings-frame > div > p:first-of-type {
	font-size: 26px;
	margin-bottom: 10px;
}

.settings-frame div p {
	margin-right: 12px;
}

.settings-config {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}

.settings-config > div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.settings-config > div > input {
	margin-top: 4px;
}

.settings-stats {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 10px 20px;
}

.settings-frame-tab-bar {
	display: flex;
	justify-content: flex-start; 
	align-items: flex-end;
	position: absolute;
	z-index: -1;
	top: -26px;
	left: 10px;
	height: 30px;
	width: 100%;
}

.settings-frame-tab-bar > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	width: 110px; height: 100%;
	border-radius: 8px 8px 0 0;
	border: 1px solid #eee;
	color: #fff;
	font-size: 14px;
	transition-duration: 100ms;
	margin-left: -1px;
}

.settings-frame-tab-bar > div:hover {
	box-shadow: inset 0 0 8px 2px #4561ff;
}

.settings-frame-tab-activated {
	transform: translateY(3px);
	color: #aaa;
	box-shadow: inset 0 0 4px 1px #4561ff;
}

.window-buttons-container {
	margin-bottom: 4px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 50px;
	height: auto;
	width: 260px;
	max-width: 260px;
	background-color: #000000;
	border-radius: 10px;
	border: 1px solid #aaa;
	padding: 3px;
}

.window-buttons-container > div {
	width: 50px;
	height: 50px;
	margin: 1px;
	border-radius: 14%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	overflow: visible;
	user-select: none;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.window-buttons-container > div p {
	font-family: Arial Narrow;
	font-size: 12px;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000; /*text-shadow go brrrr (to create a border, dont worry)*/
	color: white;
	margin: 2px 8px 0 0;
}

.ui-hover-window-button:hover {
	box-shadow: inset 0 0 6px 3px #ffff6a;
}

.ui-hover-window-button:active {
	box-shadow: inset 0 0 3px 6px #ffff6a;
}

.upgrade-window-button {
	background-image: url(../assets/img/ui/icons/trade_blacksmithing.png);
}

.merchant-mode-button {
	background-image: url(../assets/img/ui/icons/inv_misc_rune_01.png); /* ../assets/img/ui/icons/inv_misc_bag_10.png */
}

.text-shadow-2px {
	text-shadow: 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000, 0px 0px 2px #000;
}

.stats-money {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 17px;
	font-family: Arial Narrow;
	width: auto;
	max-width: 450px;
}

.stats-money span {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	width: auto;
	height: 20px;
}

.stats-money span:last-child img:last-of-type {
	margin-right: 0 !important;
}

.stats-money img {
	margin-left: 2px;
	margin-right: 6px;
}

.pouchCursor {
	cursor: url("../assets/cursors/buy.cur"), auto !important
}

.lootCursor {
	cursor: url("../assets/cursors/buy.cur"), auto !important
}

.lootallCursor {
	cursor: url("../assets/cursors/lootall.cur"), auto !important
}

.merchant-mode-button-activated {
	background-image: url(../assets/img/ui/icons/ability_warrior_challange.png);	
}

.merchant-frame {
	position: relative;
	width: 393px;
	height: 515px;
	background-color: #090909b2;
	border: 1px solid #fff;
	border-radius: 10px 5px 5px 5px;
}

.merchant-frame-bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url(../assets/img/ui/merchant/ui-paperdoll-slotbackground.png);
	background-position: center;
	background-size: cover;
	border-radius: 10px 5px 5px 5px;
}

.merchant-frame-portrait {
	width: 90px;
	height: 90px;
	position: relative;
	z-index: 1;
	bottom: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.merchant-frame-portrait-image {
	position: absolute;
	width: 90%;
	height: 90%;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
}

.merchant-frame-identity {
	position: absolute;
	color: #ffd100;
	top: 4px;
	right: 0;
	width: 90%;
	font-size: 16px;
	text-align: center;
	padding-bottom: 4px;
	border-bottom: 1px solid white;
}

.merchant-list {
	position: relative;
	z-index: 1;
	width: 270px;
	height: 495px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px;
	border: 1px solid #aaa;
	border-radius: 10px 0 0 10px;
	background-image: url(../assets/img/ui/merchant/ui-paperdoll-slotbackground.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 130%;
}

.merchant-list > div {
	position: relative;
	width: 248px;
	height: 70px;
	margin-right: 2%;
	min-height: 70px;
	margin-bottom: 6px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	border: 1px solid white;
	transition-duration: 50ms;
}

.merchant-list > div:last-child {
	margin: 0 !important;
}

.merchant-list > div:hover {
	box-shadow: inset 0 0 15px 0px #ffff57;
}

.merchant-list > div:active {
	box-shadow: inset 0 0 14px 2px #ffff9d;
}

.selected-merchant {
	box-shadow: inset 0 0 8px 3px #6aafffc9 !important;
}

.selected-merchant .merchant-list-bg-layer {
	filter: brightness(100%)
}

.merchant-list .selected-merchant:hover .merchant-list-bg-layer {
	filter: brightness(100%) !important;
}

.selected-merchant:hover {
	box-shadow: inset 0 0 8px 3px #6ab0ff !important;
}

.selected-merchant:active {
	box-shadow: inset 0 0 8px 3px #88bfff !important;
}

.locked-merchant {
	box-shadow: none !important;
	transform: scale(1) !important;
}

.locked-merchant .merchant-list-bg-layer {
	filter: grayscale(100%) brightness(30%) !important;
}

.merchant-list-bg-layer {
	position: absolute;
	z-index: -1 !important;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background-color: #000;
	background-position: -24px -94px;
	background-size: 110%;
	background-repeat: no-repeat;
	filter: brightness(40%);
}

.merchant-list > div:hover .merchant-list-bg-layer {
	filter: brightness(58%);
}

.merchant-list-identity {
	display: flex;
	flex-direction: column;
	color: #ffd100;
	text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000; /*text-shadow go brrrr (to create a border, dont worry)*/
	margin-left: 10px;
}

.merchant-list-identity p:first-child {
	color: #fff;
	font-size: 18px;
}

.merchant-list-required-level {
	font-size: 20px;
	margin-right: 14px;
}

.cheat-menu-item {
	position: absolute;
	z-index: 800;
	left: 40px;
	bottom: 100px;
	height: 290px;
	width: 280px;
	background-color: #000;
	overflow-y: scroll;
	overflow-x: hidden;
}

.cheat-menu-item div {
	display: flex;
	align-items: center;
	color: white;
	height: 40px;
	width: 100%;
	border-radius: 5px;
	background-color: #ffffff12;
	margin: 3px 0;
	padding: 2px;
	transition-duration: 90ms;
}

.cheat-menu-item div:hover {
	background-color: #ffffff2a;
	transform: translateX(4px);
}

.cheat-menu-item div:active {
	filter: brightness(70%)
}

.ui-item-overlay {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%;
	border-radius: 14%;
	user-select: none;
	pointer-events: none;
}

.ui-item:hover .ui-item-overlay {
	box-shadow: inset 0 0 6px 4px #57a5ff96;
}

.ui-item:active .ui-item-overlay {
	/* box-shadow: inset 0 0 0 2px #ffe74a, inset 0 0 5px 5px #84a6f7; */
	box-shadow: inset 0 0 0 2px transparent;
}

.player-weapon .ui-item:hover .ui-item-overlay {
	box-shadow: inset 0 0 10px 6px #57a5ff57;
}

.player-weapon .ui-item:active  .ui-item-overlay {
	/* box-shadow: inset 0 0 0 2px #ffe74a, inset 0 0 9px 9px #84a6f7; */
	box-shadow: inset 0 0 0 2px transparent;
}

.selected-item .ui-item-overlay {
	visibility: hidden !important;
}

.ui-shop-container {
	position: relative;
	max-width: 100%; /* width: 380px; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items:center;
	justify-content: space-around;
	bottom: 12px;
}

.ui-shop-item {
	height: 58px;
	width: 175px;
	display: flex;
}

.ui-shop-item-slot {
	width: 48px;
	height: 48px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/img/ui/bag/empty-bag-slot.png');
	border-radius: 14%;
	display: grid;
	grid-template-columns: 1fr;
	margin-right: 4px;
}

.ui-shop-item-slot-border {
	position: relative;
	z-index: 10;
	height: 44px;
	width: 44px;
	border: 2px #8b7913;
	border-style: ridge groove groove ridge;
	border-radius: 14%;
	pointer-events: none;
}

.ui-shop-item-slot div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.ui-shop-item-desc {
	position: relative;
	height: 48px;
	width: 123px;
	/*margin-top: 1px;*/
	background-image: url(../assets/img/ui/merchant/ui-merchant-labelslots.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 123px 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px 6px 2px 6px;
}

.ui-shop-item-desc-name {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 15px;
	height: auto;
	/* color: #ffd100; vanilla merchantFrame */
	font-size: 12px;
	letter-spacing: 1px;
	image-rendering: pixelated;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

.ui-shop-item-desc-price {
	position: relative;
	z-index: 1;
	font-family: Arial Narrow;
	color: #fff;
	text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
}

.ui-shop-item-desc-price span span img {
	margin-left: 1px;
	margin-right: 4px;
}

.ui-shop-item-desc-price span span:last-child img {
	margin-right: 0 !important;
}

.ui-shop-item-desc-price span {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.ui-shop-item-page-row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #ffd100;
	font-size: 16px
}

.ui-shop-item-page-row div {
	display: flex;
	align-items: center;
}

.ui-shop-item-page-row div button:hover {
	filter: brightness(125%);
}

.ui-shop-item-page-row div button:active {
	filter: brightness(100%);
}

.ui-shop-item-page-next-page {
	margin: 0 7px 0 1px;
	background-color: transparent;
	width: 32px;
	height: 32px;
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-nextpage-up.png');
	background-position: center;
}

.ui-shop-item-page-prev-page {
	margin: 0 0 0 8px;
	background-color: transparent;
	width: 32px;
	height: 32px;
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-prevpage-up.png');
	background-position: center;
}

.ui-shop-item-page-next-page:active {
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-nextpage-down.png');
}

.ui-shop-item-page-prev-page:active {
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-prevpage-down.png');
}

.ui-shop-item-page-next-page-locked {
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-nextpage-disabled.png');
	filter: none !important;
}

.ui-shop-item-page-prev-page-locked {
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-prevpage-disabled.png');
	filter: none !important;
}

.ui-shop-item-page-next-page-locked:active {
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-nextpage-disabled.png');
	filter: none !important;
}

.ui-shop-item-page-prev-page-locked:active {
	background-image: url('../assets/img/ui/merchant/ui-spellbookicon-prevpage-disabled.png');
	filter: none !important;
}

.ui-shop-fast-buyback {
	position: absolute;
	right: 11px;
	bottom: 15px;
	height: 52px;
	width: 175px;
	display: flex;
	align-items: center;
}

.ui-shop-fast-buyback .ui-shop-item-desc {
	height: 46px;
	padding: 8px 6px 2px 6px;
}

.merchant-frame-tab-bar {
	display: flex;
	justify-content: flex-start; 
	align-items: flex-end;
	position: absolute;
	z-index: 1;
	left: 10px;
	bottom: -32px;
	height: 30px;
	width: 100%;
}

.merchant-frame-tab-bar > div {
	position: relative;
	width: auto; 
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 0 0 8px 8px;
	border: 1px solid #eee;
	color: #ffd100;
	font-size: 14px;
	margin-left: 6px;
	padding: 0 12px 0 12px;
}

.merchant-frame-tab-bar-bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url('../assets/img/ui/merchant/ui-paperdoll-slotbackground.png');
	background-size: 600%;
	background-position: left bottom;
	border-radius: 0 0 8px 8px;
}

.merchant-frame-tab-bar > div:hover {
	box-shadow: inset 0 0 8px 2px #4561ff;
	color: #fff;
}

.merchant-frame-tab-bar > div:active {
	box-shadow: inset 0 0 9px 3px #5d76ff;
	color: #fff;
}

.merchant-frame-tab-activated {
	height: 31px !important;
	color: #fff !important;
	background-color: #090909b2 !important;
	border-top: transparent !important;
}

.merchant-frame-tab-activated:hover {
	text-shadow: 0 0px 8px #ffec45 !important;
	box-shadow: inset 0 0 0 0 transparent !important;
}

.merchant-frame-tab-activated:active {
	box-shadow: inset 0 0 0 0 transparent !important;
}

.ui-button-red {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	color: #ece256;
	font-family: Morpheus;
	background: linear-gradient(0deg, #49050d 0%, #6d060d 28%, #810404 50%, #6d060d 72%, #49050d 100%);
	margin-top: 10px;
	border-radius: 6px;
	padding-bottom: 10px;
	transition-duration: 50ms;
	border: 2px #888888;
	border-style: ridge groove groove ridge;
}

.ui-button-red:hover {
	filter: brightness(135%);
	color: #ccc;
}

.ui-button-red:active {
    filter: brightness(90%);
	border: 2px groove #929292;
	color: #ccc;
}

.ui-button-player-stats {
	position: absolute;
	left: 10px;
	top: 5px;
	width: 22px;
	height: 22px;
}

.player-stats {
	padding: 0;
	overflow: hidden;
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	font-size: 18px;
	font-family: Arial Narrow;
}

.player-stats > * {
	margin-bottom: 2px;
}

.player-trinket {
	display: grid;
	grid-template-columns: 1fr;
	width: 80px;
	height: 80px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../assets/img/ui/equipment/empty-trinket-slot.png');
	border-radius: 14%;
	margin: 10px 1px 10px 1px;
}

.player-trinket div {
	grid-row-start: 1;
	grid-column-start: 1;
}

.player-trinket:hover {
	box-shadow: inset 0 0 10px 6px #57a5ff57;
}

.player-trinket .selected-item {
	box-shadow: inset 0 0 30px 3px #fff2aa;
}

.player-trinket .selected-item:hover {
	box-shadow: inset 0 0 30px 3px #ffffff;
}

.player-trinket .item-tooltip-placeholder .item-tooltip {
	left: 83px;
	bottom: 85px;
}

.player-trinket .ui-item:hover .ui-item-overlay {
	box-shadow: inset 0 0 10px 6px #57a5ff57;
}

.player-trinket .ui-item:active  .ui-item-overlay {
	/* box-shadow: inset 0 0 0 2px #ffe74a, inset 0 0 9px 9px #84a6f7; */
	box-shadow: inset 0 0 0 2px transparent;
}

.error-message-box {
	position: fixed;
	display: flex;
	width: 400px;
	height: 110px;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
	justify-content: flex-end;
	flex-direction: column-reverse;
	user-select: none;
	pointer-events: none;
}

.error-message {
	color: red;
	text-align: center;
	width: 100%;
	height: 22px;
	animation: fadeout 5s linear;
}

@keyframes fadeout {
	0% { opacity: 1; }
	56% { opacity: 1; }
	76% { opacity: 0; }
	100% { opacity: 0; }
  }

@media (orientation: portrait) {
	*::-webkit-scrollbar-track {
		all: unset;
	}
	
	*::-webkit-scrollbar {
		all: unset;
	}
	
	*::-webkit-scrollbar-thumb {
		all: unset;
	}

	#content .sub-content {
		justify-content: center !important;
	}

	body {
		padding-bottom: 40px;
	}

	.emptyxpbar {
		width: 90%;
	}
}