<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>Clickcraft</title>
    <link rel="icon" href="assets/img/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" content="user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<div id="app">
		
		<div class="backgroundEnvironment" :style="'background-image: url(assets/img/background/'+enemies[currentEnemy].levelenvironment+'.jpg);'"></div>
		<div v-for="particle in damageParticles" :key="particle.id" class="damageparticle" :style="'top: '+particle.posY+'px; left: '+particle.posX+'px; animation-duration: '+particle.duration+'s;'">{{ particle.output }}</div>
		
		<div class="item-tooltip-placeholder" :style="tooltipPosition">
			<div class="item-tooltip" v-if="hoverItem.slotId">
				<p :class="tooltipItemQuality">{{ hoverItem.item[0].name }}</p>
				<p style="color: #0f0; font-size: 16px;">This is a test</p>
				<p v-if="hoverItem.item[0].sellPrice" class="item-tooltip-money" v-html="moneyStylizerTooltip(hoverItem.item[0].sellPrice, 0)"></p>
			</div>					
		</div>
		
		<div id="content" style="margin-top: 20px">

			<div class="enemytab">
				<div class="damagezone" @click="damageEnemy(enemies[currentEnemy]) + (totalClicks++)">
					<div class="portrait">
						<div class="portrait-mob-image" :style="'background-image: url(assets/img/ui/portrait/enemies-portraits/'+enemies[currentEnemy].portrait+'/'+enemies[currentEnemy].portrait+'_'+enemies[currentEnemy].portraitId+'.jpg);'"></div>
						<div class="portrait-border"></div>
					</div>
					<div class="levelframe">
						<div class="levelindicator"><p :class="difficultyColor(enemies[currentEnemy])">{{ enemies[currentEnemy].level }}</p></div>
					</div>
				</div>
				<div class="enemyname">
					<p>{{ enemies[currentEnemy].name }}</p>
				</div>
				<div class="emptyressourcebar" :data-label="formatHpLabel(enemies[currentEnemy])" style="margin-top: 10px;">
					<div class="hpbar" :style="'width:'+Math.max(enemies[currentEnemy].hp/enemies[currentEnemy].maxHp*100, 0)+'%'"></div>
				</div>
				<div class="emptyressourcebar" :data-label="(countdown-(step/fps)).toFixed(1)+'s'">
					<div class="timebar" :style="'width:'+(100-(step/fps)/countdown*100)+'%'"></div>
				</div>
				<button @click="showEnemyInformations=!showEnemyInformations" class="showenemyinfobutton">{{ showEnemyInformations ? '-' : '+' }}</button>
				<div :style="'height:'+(showEnemyInformations ? '140' : '0')+'px;'" class="enemyInformations">
					<div class="enemymoneyui"><p v-html="moneyStylizer(enemies[currentEnemy].minMoney)"></p><p>-</p><p v-html="moneyStylizer(enemies[currentEnemy].maxMoney)"></p></div>
					<p class="xpamount">{{ monsterXp(enemies[currentEnemy]) }} xp</p>
					<div v-if="killToLevelUp(enemies[currentEnemy])!='noxp'"><p class="killsleft">{{ killToLevelUp(enemies[currentEnemy]) }} kill{{ killToLevelUp(enemies[currentEnemy])>1 ? 's' : ''}} left</p></div>
					<p class="killcount">Killed {{ enemies[currentEnemy].killCount }} time{{enemies[currentEnemy].killCount>1 ? 's' : ''}}</p>
				</div>
			</div>
			
			<div class="player-column">
				<div class="playertab">
					<p style="font-size: 24px">{{ player.name }}</p> <!--Will be editable when it will be clicked-->
					<p>Level {{ player.level }}</p>
					<p>Damages: {{ totalMinDamage() }} - {{ totalMaxDamage() }}</p> 
					<p>Total clicks: {{ totalClicks }}</p>
					<div>
						<div class="player-weapon">
							<div v-if="showItemQualityBorder(player.weapon.slotId, 'playerEquipment') && player.weapon.item[0]" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(player.weapon.item[0])+';'"></div>
							
							<div @mouseover="itemHoverEnter(player.weapon.item[0], player.weapon.slotId, 'playerEquipment')" @mouseleave="itemHoverLeave()" :class="[(selectedItem.slotId == player.weapon.slotId) && (selectedItem.containerName == 'playerEquipment') ? 'selected-item' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.weapon.item[0])+'.png);'" v-if="player.weapon.item[0]" @click="(selectedItem.selection) && (selectedItem.slotId == player.weapon.slotId) && (selectedItem.containerName == 'playerEquipment') ? unselectItem() : itemSelection(player.weapon.item[0], player.weapon.slotId, 'playerEquipment')">
							</div>
						</div>
						<div class="player-trinket">
							<div>

							</div>
						</div>
					</div>
					<div class="player-currency-container">
						<div class="playermoneyui"><p v-html="moneyStylizer(player.money, player.diamond)"></p></div>
					</div>
				</div>

				<div class="select-item-interaction">
					<button v-if="selectedItem.containerName == 'playerBag' && (player.level >= selectedItem.item.requiredLevel || selectedItem.item.requiredLevel == null) && selectedItem.item.equipable" :style="equipButtonStyles" @click="(selectedItem.containerName == 'playerBag' && selectedItem.item.equipable) ? equipItem(selectedItem.item, selectedItem.slotId) : ''">
						equip item
					</button>
					<button v-if="selectedItem.containerName == 'playerEquipment' || selectedItem.containerName == 'playerTrinket'" :style="unequipButtonStyles" @click="(selectedItem.containerName == 'playerEquipment' && emptySpace(player.bag.slots) > 0) ? unequipItem(selectedItem) : ''">
						unequip item
					</button>
					<button v-if="selectedItem.containerName == 'playerBag'" @click="deleteItem(player.bag, selectedItem.slotId)">
						delete item
					</button>
					<button v-if="selectedItem.selection" @click="unselectItem()">
						unselect
					</button>
					<div :class="[player.bag.open ? 'bag-button-open' : '', 'bag-button']" @click="player.bag.open = !player.bag.open" :style="'background-image: url(assets/img/ui/icons/bags/bag_'+player.bag.level+'.png);'">
						<p>({{emptySpace(player.bag.slots)}})</p>
					</div>
				</div>
				<div v-if="player.bag.open" class="bag-window" :style="bagWidth">
					<div v-for="container in player.bag.slots" :key="container.slotId" class="bag-container">
						<div v-if="container.item" class="item-placeholder">
							
							<div v-if="showItemQualityBorder(container.slotId, 'playerBag')" class="item-quality-border" :style="'box-shadow: inset 0 0 1px 2px'+getQualityColor(container.item)+';'"></div>

							<div @mouseover="itemHoverEnter(container.item, container.slotId, 'playerBag')" @mouseleave="itemHoverLeave()" @click="toggleSelectionItem(container.item, container.slotId, 'playerBag')" :class="[(selectedItem.slotId == container.slotId) && (selectedItem.containerName == 'playerBag') ? 'selected-item' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.bag.slots[container.slotId-1].item)+'.png);'">
								<p v-if="container.item.stackSize > 1" style="color: white; font-style: 16px;">{{ container.item.stackSize }}</p>
							</div>

							<div v-if="player.bag.slots[container.slotId-1].item.requiredLevel > player.level" class="cant-equip-layer">
								<div class="cant-equip-grayscale"></div>
								<div class="cant-equip-red"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div style="display: inline-block; position: fixed; bottom: 35px;">
				<button v-if="enemies[currentEnemy-1]!=null" @click="currentEnemy--">prev</button>
				<button v-if="enemies[currentEnemy+1]!=null && player.progression>currentEnemy" @click="currentEnemyPool++">next</button>
				<button @click="player.level++">+1 lvl</button>
				<button @click="enemies[currentEnemy].level++">+1 lvl enemy</button>
				<button @click="enemies[currentEnemy].hp=0">instant kill</button>
				<button @click="addItem(rand(1,2), player.bag.slots, 1)">add item 1-2</button>
				<button @click="addItem(2, player.bag.slots, 3)">add x3 id2 {{getItemName(2)}}</button>
				<input type="number" v-model.number="giveItemId" style="width: 30px; height: 25px; background-color: #e7d56c;">
				<input type="number" v-model.number="giveItemQuantity" style="width: 30px; height: 25px; background-color: #6ce7d3;">
				<button @click="addItem(giveItemId, player.bag.slots, giveItemQuantity)" style="width: 120px; text-align: left;">add {{getItemName(giveItemId)}}</button>"
				<input type="number" v-model.number="player.xp" style="width: 30px">
				<input type="number" v-model.number="player.level" style="width: 30px">
				<input type="number" v-model.number="player.money" style="width: 30px">
				<input type="number" v-model.number="enemies[currentEnemy].level" style="width: 30px">
				<input type="number" v-model.number="enemies[currentEnemy].minMoney" style="width: 30px">
				<input type="number" v-model.number="enemies[currentEnemy].maxMoney" style="width: 30px">
				<input type="number" v-model.number="currentEnemy" style="width: 30px">
				<input type="number" v-model.number="player.bag.bagSpace" style="width: 30px">
			</div>

			<div class="emptyxpbar" :data-label="hoverxp ? player.xp+' / '+player.xpToNextLevel+' ('+Math.round(player.xp/player.xpToNextLevel*100)+'%)': ''" @mouseover="hoverxp = true" @mouseleave="hoverxp = false">
				<div class="xpbar" :style="'width:'+(player.xp/player.xpToNextLevel)*100+'%'"></div>
			</div>

		</div>
	</div>
	
	<script src="js/images-preload.js"></script>
	<script src="js/script.js"></script>
</body>