<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<title>Clickcraft</title>
    <link rel="icon" href="assets/img/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<div id="app">
		
		<div class="backgroundEnvironment" :style="merchantFrame.open?'background-image: url(assets/img/background/town.jpg':('background-image: url(assets/img/background/'+enemiesPools[currentEnemyPool].levelEnvironment+'.jpg);')"></div>
		<div class="error-message-box">
			<div v-for="message in errorMessages" :key="message.id" class="error-message">
				{{message.msg}}
			</div>
		</div>
		<div v-for="particle in damageParticles" :key="particle.id" class="damageparticle" :style="'top: '+particle.posY+'px; left: '+particle.posX+'px; animation-duration: '+particle.duration+'s; color: '+particle.color+'; font-size: '+particle.size+'; animation-name: '+particle.animation+';'">{{ particle.output }}</div>
		
		<div class="item-tooltip-placeholder" :style="tooltipPosition">
			<div class="item-tooltip" v-if="hoverItem.slotId != null" :style="hoverItem.containerName == 'playerMoney' || hoverItem.containerName == 'merchantItemPrice' ? 'max-width: 10000px' : ''">
				<p :class="tooltipItemQuality">{{ hoverItem.item[0].name }}</p>
				<p v-if="hoverItem.slotId == -1">{{ hoverItem.item[0].title }}</p>
				<p v-if="hoverItem.item[0].upgradeLevel !== undefined && hoverItem.item[0].upgradeLevel !== 0" style="color: #ffd100">Item Level {{ hoverItem.item[0].upgradeLevel }}</p>
				<p v-if="hoverItem.item[0].unique != 0">{{ tooltipItemUniqueType }}</p>
				<div v-if="hoverItem.item[0].slotType != null"><p>{{ hoverItem.item[0].slotType.subtype }}</p><p>{{ tooltipItemWeaponType }}</p></div>
				<p v-if="hoverItemIsAWeapon" class="tooltip-text-damage">{{ hoverItem.item[0].minDamage }} - {{ hoverItem.item[0].maxDamage }} Damage</p>
				<p v-if="hoverItemIsAWeapon && hoverItem.item[0].slotType.subtype !== 'Off Hand' && hoverItem.containerName !== 'playerOffHand'">({{ (hoverItem.item[0].minDamage + hoverItem.item[0].maxDamage) / 2 }} Damage per click)</p>
				<p v-if="(hoverItemIsAWeapon && hoverItem.item[0].slotType.subtype === 'Off Hand') || hoverItem.containerName === 'playerOffHand'">({{ ((hoverItem.item[0].minDamage + hoverItem.item[0].maxDamage) / 2)/2 }} Damage per click)</p>
				<p v-if="hoverItem.item[0].stats !== undefined && hoverItem.item[0].stats.strength != undefined">+ {{hoverItem.item[0].stats.strength}} Strength</p>
				<p v-if="hoverItem.item[0].stats !== undefined && hoverItem.item[0].stats.agility != undefined">+ {{hoverItem.item[0].stats.agility}} Agility</p>
				<p v-if="hoverItem.item[0].stats !== undefined && hoverItem.item[0].stats.intellect != undefined">+ {{hoverItem.item[0].stats.intellect}} Intellect</p>
				<p v-if="hoverItem.item[0].stats !== undefined && hoverItem.item[0].stats.stamina != undefined">+ {{hoverItem.item[0].stats.stamina}} Stamina</p>
				<p v-if="hoverItem.item[0].stats !== undefined && hoverItem.item[0].stats.luck != undefined" style="color: #0f0">+ {{hoverItem.item[0].stats.luck}} Luck</p>
				<p v-if="hoverItem.item[0].requiredLevel != null" :style="requiresLevelText">Requires Level {{ hoverItem.item[0].requiredLevel }}</p>
				<p v-if="hoverItem.item[0].effectDescription != null" style="color: #0f0" class="tooltip-text">{{ hoverItem.item[0].effectDescription }}</p>
				<p v-if="hoverItem.item[0].quote != null" style="color: #ffd100" class="tooltip-text">"{{ hoverItem.item[0].quote }}"</p>
				<p v-if="hoverItemIsAWeapon && hoverItem.item[0].quality > 1 && upgradeItemFrame.open && hoverItem.containerName != 'upgradeFrame'" style="color: #f700ff; font-style: italic;">This weapon can be upgraded</p>
				<p v-if="hoverItem.item[0].material === true" style="color: #68b7f2">Crafting Reagent</p>
				<p v-if="hoverItem.item[0].sellPrice && hoverItem.item[0].salable !== false && hoverItem.containerName != 'merchantItems' && hoverItem.containerName != 'soldItems' && hoverItem.containerName != 'playerMoney' && hoverItem.containerName != 'merchantItemPrice'" class="item-tooltip-money tooltip-text-sell-price">Sell Price:<span v-html="moneyStylizerTooltip"></span></p>
				<p v-if="(hoverItem.item[0].salable === false || hoverItem.item[0].sellPrice == null) && merchantFrame.open && hoverItem.containerName != 'merchantItems' && hoverItem.containerName != 'soldItems' && hoverItem.containerName != 'playerMoney' && hoverItem.containerName != 'merchantItemPrice' && hoverItem.containerName != 'interface'" class="item-tooltip-money">No sell price</p>
				<p v-if="hoverItem.containerName == 'playerMoney'" class="item-tooltip-money-no-margin item-tooltip-money"><span v-html="playerDiamondTooltip"></span></p>
				<p v-if="hoverItem.containerName == 'merchantItemPrice'" class="item-tooltip-money-no-margin-border item-tooltip-money"><span v-html="merchantItemDiamondTooltip"></p>
			</div>					
		</div>
		
		<div v-if="settingsWindow.open" class="settings-window-overlay">
			<div class="settings-clickable-background" @click="settingsWindow.open = !settingsWindow.open"></div>
			<div class="settings-frame">
				<div v-if="settingsWindow.selectedTab == 0" class="settings-config">
					<p>Configuration</p>
					<div><p>Your name:</p><input v-model="player.name"></div>
					<div><p>Item quality border opacity:</p><input type="range" v-model.number="configurableValues.itemQualityBorderOpacity" min="0" max="100"></div>
					<div><p>Show item upgrade level on tooltip:</p><input type="checkbox" v-model.number="configurableValues.itemUpgradeLevel"></div>
					<div><p>Dynamic tooltips:</p><input type="checkbox" v-model.number="configurableValues.dynamicTooltips"></div>
					<div><p>Show error messages:</p><input type="checkbox" v-model.number="configurableValues.errorMessages"></div>
				</div>
				<div v-if="settingsWindow.selectedTab == 1" class="settings-stats">
					<p>Statistics</p>
					<p>Total clicks: {{ player.gameStats.totalClicks }}</p>
					<p>Total damages: {{ player.gameStats.totalDamages }}</p>
					<p>Average damage per click: {{ player.gameStats.totalClicks == 0 ? '0' : (player.gameStats.totalDamages.div(player.gameStats.totalClicks)).toFixed(1) }}</p>
					<p>Critical strikes: {{ player.gameStats.totalCriticalStrikes }}</p>
					<p>Total XP: {{ player.gameStats.totalXP }}</p>
					<p>Total kills: {{ player.gameStats.totalKills }}</p>
					<p>Missed enemies: {{ player.gameStats.totalMisses }}</p>
					<p>Total money: <span class="stats-money" v-html="moneyStylizer(player.gameStats.totalMoney)"></span></p>
					<p>Money spent in weapon upgrades: <span class="stats-money" v-html="moneyStylizer(player.gameStats.moneySpentUpgradingWeapon)"></span></p>
				</div>
				<div class="settings-frame-tab-bar">
					<div @click="settingsWindow.selectedTab = 0" :class="settingsWindow.selectedTab == 0 ? 'settings-frame-tab-activated' : ''">
						<p>Configuration</p>
					</div>
					<div @click="settingsWindow.selectedTab = 1" :class="settingsWindow.selectedTab == 1 ? 'settings-frame-tab-activated' : ''">
						<p>Statistics</p>
					</div>
				</div>
			</div>
		</div>

		<div id="content" @contextmenu.prevent>
			<div class="sub-content">
				<div class="merchant-list" v-if="merchantFrame.open == true">
					<div v-for="merchant in merchants" :key="merchant.id" v-if="player.level >= merchant.requiredLevel - 5" @click="lockedMerchant(merchant) ? '' : merchantFrame.selectedMerchant = merchant.id" :class="[merchantFrame.selectedMerchant == merchant.id ? 'selected-merchant' : '', lockedMerchant(merchant) ? 'locked-merchant' : '']">
						<div class="merchant-list-bg-layer" :style="'background-image: url(assets/img/ui/portrait/merchants/merchant_'+merchant.id+'.jpg)'"></div>
						<div class="merchant-list-identity">
							<p :style="player.level >= merchant.requiredLevel ? '' : 'letter-spacing: 4px;'">{{ player.level >= merchant.requiredLevel ? merchant.name : '???' }}</p>
							<p v-if="player.level >= merchant.requiredLevel">{{ merchant.type }}</p>
						</div>
						<div :class="[player.level >= merchant.requiredLevel ? 'yellowlevel' : 'redlevel', 'merchant-list-required-level']">
							<p>{{ merchant.requiredLevel }}</p>
						</div>
					</div>
				</div>

				<div class="merchant-frame" v-if="merchantFrame.open == true">
					<div class="merchant-frame-bg"></div>
					<div class="merchant-frame-portrait">
						<div class="merchant-frame-portrait-image" :style="'background-image: url(assets/img/ui/portrait/merchants/'+(merchantFrame.mode == 0 ? 'merchant_'+merchantFrame.selectedMerchant+'.jpg' : 'ui-buyback-icon.png')+');'"></div>
						<div class="portrait-border"></div>
					</div>
					<div class="merchant-frame-identity">
						<p>{{ merchantFrame.mode == 0 ? merchants[merchantFrame.selectedMerchant].name : 'Merchant Buyback' }}</p>
					</div>
					<div class="ui-shop-container" @contextmenu.prevent :style="merchantFrame.mode == 0 ? 'height: 314px;' : 'height: 420px;'">
						<!-- Merchant Tab -->
						<div v-if="merchantFrame.mode == 0" class="ui-shop-item" v-for="placeholder in 10">
							<div class="ui-shop-item-slot">
								<div class="ui-shop-item-slot-border" :style="merchants[merchantFrame.selectedMerchant].stock.length >= placeholder+(10*(merchantFrame.page-1)) && getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id).requiredLevel > player.level ? 'border-color: #590000' : ''"></div>
								<div v-if="merchants[merchantFrame.selectedMerchant].stock.length >= placeholder+(10*(merchantFrame.page-1)) && showItemQualityBorder(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id), placeholder, 'merchantItems')" class="item-quality-border" :style="'box-shadow: inset 0 0 5px 4px'+getQualityColor(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id))+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>
								<div v-if="merchants[merchantFrame.selectedMerchant].stock.length >= placeholder+(10*(merchantFrame.page-1))" class="pouchCursor ui-item" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id))+'.png);'" @contextmenu.prevent="buyItem(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id), merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].quantity)" @mouseover="itemHoverEnter(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id), placeholder, 'merchantItems')" @mouseleave="itemHoverLeave()">
									<div class="ui-item-stacksize">
										<p v-if="merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].quantity > 1">{{ merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].quantity }}</p>
									</div>
									<div class="ui-item-overlay"></div>
								</div>
								<template v-if="merchants[merchantFrame.selectedMerchant].stock.length >= placeholder+(10*(merchantFrame.page-1))">
									<div v-if="getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id).requiredLevel > player.level" class="cant-equip-layer">
										<div class="cant-equip-grayscale"></div>
										<div class="cant-equip-red"></div>
									</div>
								</template>
							</div>
							<div class="ui-shop-item-desc">
								<template v-if="merchants[merchantFrame.selectedMerchant].stock.length >= placeholder+(10*(merchantFrame.page-1))">
									<p class="ui-shop-item-desc-name" :style="'color:'+getQualityColor(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id))">{{ cutText(getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id).name, 36) }}</p>
									<p class="ui-shop-item-desc-price" @mouseover="merchantItemCurrentDiamondValue((getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id).cost), merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].quantity)" @mouseleave="itemHoverLeave()"><span v-html="moneyStylizerMerchant((getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id).cost), merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].quantity)"></span></p>
									<div v-if="getItemById(merchants[merchantFrame.selectedMerchant].stock[placeholder+(10*(merchantFrame.page-1))-1].id).requiredLevel > player.level" class="cant-equip-layer-shop-item-desc">
										<div class="cant-equip-grayscale"></div>
										<div class="cant-equip-red"></div>
									</div>
								</template>
							</div>
						</div>
						<!-- Buyback Tab -->
						<div v-if="merchantFrame.mode == 1" class="ui-shop-item" v-for="item in merchantFrame.soldItems">
							<div class="ui-shop-item-slot">
								<div class="ui-shop-item-slot-border" :style="item != null && item.requiredLevel > player.level ? 'border-color: #590000' : ''"></div>
								<div class="item-quality-border" :style="item != null && showItemQualityBorder(item, merchantFrame.soldItems.indexOf(item), 'soldItems') ? 'box-shadow: inset 0 0 5px 4px'+getQualityColor(item)+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2) : ''"></div>
								<div v-if="item != null" class="pouchCursor ui-item" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(item)+'.png);'" @contextmenu.prevent="buyBackItem(item)" @mouseover="itemHoverEnter(item, merchantFrame.soldItems.indexOf(item), 'soldItems')" @mouseleave="itemHoverLeave()">
									<div class="ui-item-stacksize">
										<p v-if="item.stackSize > 1">{{ item.stackSize }}</p>
									</div>
									<div class="ui-item-upgrade-level" v-if="configurableValues.itemUpgradeLevel">
										<p v-if="item.upgradeLevel > 0">{{ item.upgradeLevel }}</p>
									</div>
									<div class="ui-item-overlay"></div>
								</div>
								<template v-if="item != null">
									<div v-if="item.requiredLevel > player.level" class="cant-equip-layer">
										<div class="cant-equip-grayscale"></div>
										<div class="cant-equip-red"></div>
									</div>
								</template>
							</div>
							<div class="ui-shop-item-desc">
								<template v-if="item != null">
									<p class="ui-shop-item-desc-name" :style="'color:'+getQualityColor(item)">{{ cutText(item.name, 36) }}</p>
									<p class="ui-shop-item-desc-price" @mouseover="merchantItemCurrentDiamondValue(item.sellPrice, item.stackSize)" @mouseleave="itemHoverLeave()"><span v-html="moneyStylizerMerchant(item.sellPrice, item.stackSize)"></span></p>
									<div v-if="item.requiredLevel > player.level" class="cant-equip-layer-shop-item-desc">
										<div class="cant-equip-grayscale"></div>
										<div class="cant-equip-red"></div>
									</div>
								</template>
							</div>
						</div>
					</div>
					<template v-if="merchantFrame.mode == 0">
						<div class="ui-shop-item-page-row" v-if="merchantPageCalc > 1">
							<div><button :class="[merchantFrame.page > 1 ? '' : 'ui-shop-item-page-prev-page-locked', 'ui-shop-item-page-prev-page']" @click="merchantFrame.page > 1 ? prevMerchantPage() : ''"></button><p>Prev</p></div>
							<p>{{ 'Page ' + merchantFrame.page + ' of ' + merchantPageCalc }}</p>
							<div><p>Next</p><button :class="[merchantFrame.totalPages > merchantFrame.page ? '' : 'ui-shop-item-page-next-page-locked', 'ui-shop-item-page-next-page']" @click="merchantFrame.totalPages > merchantFrame.page ? nextMerchantPage() : ''"></button></div>
						</div>
						<div class="ui-shop-fast-buyback">
							<div class="ui-shop-item-slot">
								<div class="ui-shop-item-slot-border" :style="merchantFrame.soldItems[0] != null && merchantFrame.soldItems[0].requiredLevel > player.level ? 'border-color: #590000' : ''"></div>
								<div class="item-quality-border" :style="merchantFrame.soldItems[0] != null && showItemQualityBorder(merchantFrame.soldItems[0], 0, 'soldItems') ? 'box-shadow: inset 0 0 5px 4px'+getQualityColor(merchantFrame.soldItems[0])+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2) : ''"></div>
								<div v-if="merchantFrame.soldItems[0] != null" class="pouchCursor ui-item" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(merchantFrame.soldItems[0])+'.png);'" @contextmenu.prevent="buyBackItem(merchantFrame.soldItems[0])" @mouseover="itemHoverEnter(merchantFrame.soldItems[0], 0, 'soldItems')" @mouseleave="itemHoverLeave()">
									<div class="ui-item-stacksize">
										<p v-if="merchantFrame.soldItems[0].stackSize > 1">{{ merchantFrame.soldItems[0].stackSize }}</p>
									</div>
									<div class="ui-item-upgrade-level" v-if="configurableValues.itemUpgradeLevel">
										<p v-if="merchantFrame.soldItems[0].upgradeLevel > 0">{{ merchantFrame.soldItems[0].upgradeLevel }}</p>
									</div>
									<div class="ui-item-overlay"></div>
								</div>
								<template v-if="merchantFrame.soldItems[0] != null">
									<div v-if="merchantFrame.soldItems[0].requiredLevel > player.level" class="cant-equip-layer">
										<div class="cant-equip-grayscale"></div>
										<div class="cant-equip-red"></div>
									</div>
								</template>
							</div>
							<div class="ui-shop-item-desc">
								<template v-if="merchantFrame.soldItems[0] != null">
									<p class="ui-shop-item-desc-name" :style="'color:'+getQualityColor(merchantFrame.soldItems[0])">{{ cutText(merchantFrame.soldItems[0].name, 36) }}</p>
									<p class="ui-shop-item-desc-price" @mouseover="merchantItemCurrentDiamondValue(merchantFrame.soldItems[0].sellPrice, merchantFrame.soldItems[0].stackSize)" @mouseleave="itemHoverLeave()"><span v-html="moneyStylizerMerchant(merchantFrame.soldItems[0].sellPrice, merchantFrame.soldItems[0].stackSize)"></span></p>
									<div v-if="merchantFrame.soldItems[0].requiredLevel > player.level" class="cant-equip-layer-shop-item-desc">
										<div class="cant-equip-grayscale"></div>
										<div class="cant-equip-red"></div>
									</div>
								</template>
							</div>
						</div>
					</template>
					<div class="merchant-frame-tab-bar">
						<div @click="merchantFrame.mode = 0" :class="merchantFrame.mode == 0 ? 'merchant-frame-tab-activated' : ''">
							<div class="merchant-frame-tab-bar-bg"></div>
							<p>Merchant</p>
						</div>
						<div @click="merchantFrame.mode = 1" :class="merchantFrame.mode == 1 ? 'merchant-frame-tab-activated' : ''">
							<div class="merchant-frame-tab-bar-bg"></div>
							<p>Buyback</p>
						</div>
					</div>
				</div>

				<div class="enemies-selection-frame" v-if="progressionMode">
					<div v-for="(enemy, index) in enemiesPools[currentEnemyPool].enemies" :key="index" :class="['enemies-selection-tab', {'enemies-selection-tab-disabled': enemiesPools[currentEnemyPool].disabled[index]}]" @click="toggleEnemyStatus(index)">
						<div class="enemies-selection-portrait-overlap">
							<div class="enemies-selection-portrait" :style="'background-image: url(assets/img/ui/portrait/enemies-portraits/'+enemies[enemiesPools[currentEnemyPool].enemies[index]].portrait+'/'+enemies[enemiesPools[currentEnemyPool].enemies[index]].portrait+'_'+enemies[enemiesPools[currentEnemyPool].enemies[index]].portraitId+'.jpg);'"></div>
							<div class="enemies-selection-portrait-border"></div>
						</div>
						<p>{{ cutText(enemies[enemiesPools[currentEnemyPool].enemies[index]].name, 16) }}</p>
						<p :class="enemies[enemiesPools[currentEnemyPool].enemies[index]].type == 'boss' ? 'skulllevel': difficultyColor(enemies[enemiesPools[currentEnemyPool].enemies[index]])" style="font-size: 14px">lvl {{ enemies[enemiesPools[currentEnemyPool].enemies[index]].level }}</p>
					</div>
				</div>

				<div class="loot-corpses-window" v-if="progressionMode">
					<div class="loot-corpses-count">Corpses : {{ deadEnemies.length }} / {{deadEnemiesLimit}} </div>
					<div v-for="deadEnemy in deadEnemies" :class="shiftPressed?'lootallCursor dead-enemy':'lootCursor dead-enemy'" @click="openLootFrame(deadEnemy)" @contextmenu.prevent="openLootFrame(deadEnemy)">
						<div class="dead-enemy-portrait" :style="'background-image: url(assets/img/ui/portrait/enemies-portraits/'+deadEnemy.portrait+'/'+deadEnemy.portrait+'_'+deadEnemy.portraitId+'.jpg);'"></div>
						<div class="dead-enemy-cooldown" :style="'background: conic-gradient(#14161bdd '+(360*(1-deadEnemy.timing/deadEnemy.baseTiming))+'deg, transparent '+(360*(1-deadEnemy.timing/deadEnemy.baseTiming))+'deg);'"></div>
						<div :class="deadEnemy.type == 'boss' ? 'skulllevel' : difficultyColor(deadEnemy)">{{deadEnemy.level}}</div>
						<div style="color: white">{{deadEnemy.name}}</div>
							<!--<div v-for="item in deadEnemy.loots" class="item-placeholder">-->
							<!--<div v-if="item != null" class="pouchCursor ui-item" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(getItemById(item.itemId))+'.png);'"></div>-->
							<!--</div>-->
					</div>
				</div>

				<div v-if="lootFrameOpen" class="loot-frame" :style="'left:'+lootFrameX+'px; top:'+lootFrameY+'px'">
					<div class="loot-frame-close-button" @click='closeLootFrame("close")'></div>
					<div class="loot-frame-top-text">Items</div>
					<div class="loot-frame-portrait"></div>
					<div class="loot-frame-container">
						<div class="loot-frame-item" v-for="loot in lootFrameOpen.loots" @mouseover="itemHoverEnter(getItemById(loot.itemId), lootFrameOpen.loots.indexOf(loot), 'lootFrame', loot.quantity)" @mouseleave="itemHoverLeave()" @click="lootItem(loot.itemId, loot.quantity)">
							<div class="loot-frame-item-hover"></div>
						
							<div class="loot-frame-item-icon">

								<div class="pouchCursor ui-item" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(getItemById(loot.itemId))+'.png);'">
									<div v-if="showItemQualityBorder(getItemById(loot.itemId), 1, 'lootFrame')" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(getItemById(loot.itemId))+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>
									<div class="ui-item-stacksize">
										<p v-if="loot.quantity > 1">{{ loot.quantity }}</p>
									</div>
								</div>
								
							</div>

							<div class="loot-frame-item-desc-overlay"></div>
							<div class="loot-frame-item-desc">
								<p :style="'color: '+getQualityColor(getItemById(loot.itemId))">{{ cutText(getItemById(loot.itemId).name, 36) }}</p>
							</div>
						</div>
					</div>
				</div>


				
				<div class="enemy-tab" v-if="progressionMode">
					<div class="damagezone" @click="damageEnemy(enemies[selectedEnemy])">
						<div class="portrait">
							<div class="portrait-mob-image" :style="'background-image: url(assets/img/ui/portrait/enemies-portraits/'+enemies[selectedEnemy].portrait+'/'+enemies[selectedEnemy].portrait+'_'+enemies[selectedEnemy].portraitId+'.jpg);'"></div>
							<div class="portrait-border" ></div>
						</div>
						<div class="levelframe">
							<div class="levelindicator"><p :class="enemies[selectedEnemy].type == 'boss' ? 'skulllevel': difficultyColor(enemies[selectedEnemy])"><span v-if="player.level > enemies[selectedEnemy].level - 10 && enemies[selectedEnemy].type != 'boss'">{{ enemies[selectedEnemy].level }}</span></p></div>
						</div>
					</div>
					<div class="enemyname">
						<p>{{ enemies[selectedEnemy].name }}</p>
					</div>
					<div class="emptyressourcebar" :data-label="formatHpLabel(enemies[selectedEnemy])" style="margin-top: 10px;">
						<div class="hpbar" :style="'width:'+Math.max(enemies[selectedEnemy].hp/enemies[selectedEnemy].maxHp*100, 0)+'%'"></div>
					</div>
					<div class="emptyressourcebar" :data-label="(countdown-(step)).toFixed(1)+'s'">
						<div class="timebar" :style="'width:'+(100-(step)/countdown*100)+'%'"></div>
					</div>
					<button @click="showEnemyInformations=!showEnemyInformations" class="showenemyinfobutton">{{ showEnemyInformations ? '-' : '+' }}</button>
					<div :style="'height:'+(showEnemyInformations ? '160' : '0')+'px;'" class="enemyInformations">
						<div class="enemymoneyui"><p v-html="moneyStylizer(enemies[selectedEnemy].minMoney)"></p><p v-html="moneyStylizer(enemies[selectedEnemy].maxMoney)"></p></div>
						<p class="xpamount">{{ monsterXp(enemies[selectedEnemy]) }} xp</p>
						<div v-if="killToLevelUp(enemies[selectedEnemy])!='noxp'"><p class="killsleft">{{ killToLevelUp(enemies[selectedEnemy]) }} kill{{ killToLevelUp(enemies[selectedEnemy])>1 ? 's' : ''}} left</p></div>
						<p class="killcount">Killed {{ enemies[selectedEnemy].killCount }} time{{enemies[selectedEnemy].killCount>1 ? 's' : ''}}</p>
					</div>
				</div>
			</div>
			<div class="sub-content">
				<div class="player-column">
					<div class="player-tab">
						<div @click="settingsWindow.open = !settingsWindow.open" class="settings-button">
							<img src="assets/img/ui/ui-optionsbutton.png">
						</div>
						<p style="font-size: 24px">{{ player.name }}</p>
						<p>Level {{ player.level }}</p>
						<p>Damage: {{ totalMinDamage() }} - {{ totalMaxDamage() }}</p>
						<button style="margin: 0" class="ui-button-red ui-button-player-stats" @click="showMorePlayerStats = !showMorePlayerStats">{{ showMorePlayerStats ? '-' : '+' }}</button>
						<span :style="'height:'+(showMorePlayerStats ? '110' : '0')+'px;'" class="player-stats">
							<p>Strength: <span :style="player.stats.strength > player.stats.baseStrength ? 'color: #0f0' : (player.stats.baseStrength > player.stats.strength ? 'color: #ff2020' : '')">{{ player.stats.strength }}</span></p>
							<p>Agility: <span :style="player.stats.agility > player.stats.baseAgility ? 'color: #0f0' : (player.stats.baseAgility > player.stats.agility ? 'color: #ff2020' : '')">{{ player.stats.agility }}</span></p>
							<p>Intellect: <span :style="player.stats.intellect > player.stats.baseIntellect ? 'color: #0f0' : (player.stats.baseIntellect > player.stats.intellect ? 'color: #ff2020' : '')">{{ player.stats.intellect }}</span></p>
							<p>Stamina: <span :style="player.stats.stamina > player.stats.baseStamina ? 'color: #0f0' : (player.stats.baseStamina > player.stats.stamina ? 'color: #ff2020' : '')">{{ player.stats.stamina }}</span></p>
							<p>Luck: <span :style="player.stats.luck > player.stats.baseLuck ? 'color: #0f0' : (player.stats.baseLuck > player.stats.luck ? 'color: #ff2020' : '')">{{ player.stats.luck }}</span></p>
						</span>
						<div>
							<div style="display: flex; flex-direction: row;">
								<!--Weapon-->
								<div class="player-weapon" @contextmenu.prevent>
									<div v-if="showItemQualityBorder(player.weapon.item[0], player.weapon.slotId, 'playerWeapon') && player.weapon.item[0]" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(player.weapon.item[0])+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>
									
									<div @contextmenu.prevent="merchantFrame.open ? '' : (emptySpace(player.bag.slots) > 0 ? unequipItem(player.weapon) : errorFullInventory())" @mouseover="itemHoverEnter(player.weapon.item[0], player.weapon.slotId, 'playerWeapon')" @mouseleave="itemHoverLeave()" :class="[(selectedItem.slotId == player.weapon.slotId) && (selectedItem.containerName == 'playerWeapon') ? 'selected-item' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.weapon.item[0])+'.png);'" v-if="player.weapon.item[0]" @click="toggleSelectionItem(player.weapon.item[0], player.weapon.slotId, 'playerWeapon')">
										<div class="ui-item-upgrade-level" v-if="configurableValues.itemUpgradeLevel">
											<p v-if="player.weapon.item[0].upgradeLevel > 0">{{ player.weapon.item[0].upgradeLevel }}</p>
										</div>
										<div class="ui-item-overlay"></div>
									</div>
								</div>
								<!--OffHand-->
								<div class="player-weapon player-off-hand" @contextmenu.prevent>
									<div v-if="showItemQualityBorder(player.offHand.item[0], player.offHand.slotId, 'playerOffHand') && player.offHand.item[0]" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(player.offHand.item[0])+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>
									
									<div @contextmenu.prevent="merchantFrame.open ? '' : (emptySpace(player.bag.slots) > 0 ? unequipItem(player.offHand) : errorFullInventory())" @mouseover="itemHoverEnter(player.offHand.item[0], player.offHand.slotId, 'playerOffHand')" @mouseleave="itemHoverLeave()" :class="[(selectedItem.slotId == player.offHand.slotId) && (selectedItem.containerName == 'playerOffHand') ? 'selected-item' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.offHand.item[0])+'.png);'" v-if="player.offHand.item[0]" @click="toggleSelectionItem(player.offHand.item[0], player.offHand.slotId, 'playerOffHand')">
										<div class="ui-item-upgrade-level" v-if="configurableValues.itemUpgradeLevel">
											<p v-if="player.offHand.item[0].upgradeLevel > 0">{{ player.offHand.item[0].upgradeLevel }}</p>
										</div>
										<div class="ui-item-overlay"></div>
									</div>
								</div>
							</div>
							<div style="display: flex; flex-direction: row;">
								<!--Trinkets-->
								<div class="player-trinket" @contextmenu.prevent>
									<div v-if="showItemQualityBorder(player.trinkets[0].item[0], player.trinkets[0].slotId, 'playerTrinket') && player.trinkets[0].item[0]" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(player.trinkets[0].item[0])+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>
									
									<div @contextmenu.prevent="merchantFrame.open ? '' : (emptySpace(player.bag.slots) > 0 ? unequipItem(player.trinkets[0]) : errorFullInventory())" @mouseover="itemHoverEnter(player.trinkets[0].item[0], player.trinkets[0].slotId, 'playerTrinket')" @mouseleave="itemHoverLeave()" :class="[(selectedItem.slotId == player.trinkets[0].slotId) && (selectedItem.containerName == 'playerTrinket') ? 'selected-item' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.trinkets[0].item[0])+'.png);'" v-if="player.trinkets[0].item[0]" @click="toggleSelectionItem(player.trinkets[0].item[0], player.trinkets[0].slotId, 'playerTrinket')">
										<div class="ui-item-overlay"></div>
									</div>
								</div>
								<div class="player-trinket" @contextmenu.prevent>
									<div v-if="showItemQualityBorder(player.trinkets[1].item[0], player.trinkets[1].slotId, 'playerTrinket') && player.trinkets[1].item[0]" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(player.trinkets[1].item[0])+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>
									
									<div @contextmenu.prevent="merchantFrame.open ? '' : (emptySpace(player.bag.slots) > 0 ? unequipItem(player.trinkets[1]) : errorFullInventory())" @mouseover="itemHoverEnter(player.trinkets[1].item[0], player.trinkets[1].slotId, 'playerTrinket')" @mouseleave="itemHoverLeave()" :class="[(selectedItem.slotId == player.trinkets[1].slotId) && (selectedItem.containerName == 'playerTrinket') ? 'selected-item' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.trinkets[1].item[0])+'.png);'" v-if="player.trinkets[1].item[0]" @click="toggleSelectionItem(player.trinkets[1].item[0], player.trinkets[1].slotId, 'playerTrinket')">
										<div class="ui-item-overlay"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="player-currency-container">
							<div class="player-money-ui text-shadow-2px" @mouseover="playerCurrentDiamondValue" @mouseleave="itemHoverLeave()"><p v-html="moneyStylizerPlayer"></p></div>
						</div>
					</div>

					<div class="select-item-interaction">
						<div class="select-item-interaction-button">
							<button class="button-color-blue" :style="switchButtonStyles" v-if="(selectedItem.containerName == 'playerWeapon' || selectedItem.containerName == 'playerOffHand') && player.weapon.item.length != 0 && player.offHand.item.length != 0" @click="switchWeapons()"> 
								Switch
							</button>
							<button class="button-color-blue" v-if="selectedItem.containerName == 'playerTrinket' && (player.trinkets[0].item.length != 0 || player.trinkets[1].item.length != 0)" @click="switchTrinkets()"> 
								Switch
							</button>
							<button class="button-color-blue" :style="equipButtonStyles" v-if="selectedItem.containerName == 'playerBag' && (player.level >= selectedItem.item.requiredLevel || selectedItem.item.requiredLevel == null) && selectedItem.item.equipable" @click="(selectedItem.containerName == 'playerBag' && selectedItem.item.equipable) ? equipItem(selectedItem.item, selectedItem.slotId) : errorLevelTooLow(selectedItem.item)">
								Equip Item
							</button>
							<button class="button-color-blue" :style="unequipButtonStyles" v-if="selectedItem.containerName == 'playerWeapon' || selectedItem.containerName == 'playerOffHand' || selectedItem.containerName == 'playerTrinket'" @click="((selectedItem.containerName == 'playerWeapon' || selectedItem.containerName == 'playerOffHand' || selectedItem.containerName == 'playerTrinket') && emptySpace(player.bag.slots) > 0 ) ? unequipItem(selectedItem) : errorFullInventory()">
								Unequip Item
							</button>
							<button v-if="selectedItem.containerName == 'playerBag' && !upgradeItemFrame.open" @click="deleteItem(player.bag, selectedItem.slotId)">
								{{shiftPressed ? 'Delete (1)' : 'Delete Item'}}
							</button>
							<button v-if="selectedItem.selection" @click="unselectItem()">
								Unselect
							</button>
						</div>
						<div :class="[player.bag.open ? 'ui-icon-open' : '', 'bag-button']" @click="player.bag.open = !player.bag.open" :style="'background-image: url(assets/img/ui/icons/bags/bag_'+player.bag.level+'.png);'">
							<p>({{emptySpace(player.bag.slots)}})</p>
						</div>
					</div>
					<div v-if="player.bag.open" class="bag-frame" :style="bagWidth" @contextmenu.prevent>
						<div v-for="container in player.bag.slots" :key="container.slotId" class="bag-container" @drop="onDrop($event, container.slotId)" @dragover.prevent @dragenter.prevent @contextmenu.prevent>
							<div v-if="container.item" class="item-placeholder">
								
								<div v-if="showItemQualityBorder(container.item, container.slotId, 'playerBag')" class="item-quality-border" :style="'box-shadow: inset 0 0 4px 2px'+getQualityColor(container.item)+'; opacity:'+(configurableValues.itemQualityBorderOpacity/100).toFixed(2)"></div>

								<div @contextmenu.prevent="merchantFrame.open ? sellItem(container.item, container.slotId) : (container.item.equipable && (player.level >= container.item.requiredLevel || container.item.requiredLevel == null) ? equipItem(container.item, container.slotId, true) : errorLevelTooLow(container.item))" draggable @dragstart="startDrag($event, container)" @dragend="endDrag($event)" @mouseover="itemHoverEnter(container.item, container.slotId, 'playerBag')" @mouseleave="itemHoverLeave()" @click="toggleSelectionItem(container.item, container.slotId, 'playerBag')" :class="[(selectedItem.slotId == container.slotId) && (selectedItem.containerName == 'playerBag') ? 'selected-item' : '', merchantFrame.open ? 'pouchCursor' : '', 'ui-item']" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(player.bag.slots[container.slotId-1].item)+'.png);'">
									<div class="ui-item-stacksize">
										<p v-if="container.item.stackSize > 1">{{ container.item.stackSize }}</p>
									</div>
									<div class="ui-item-upgrade-level" v-if="configurableValues.itemUpgradeLevel">
										<p v-if="container.item.upgradeLevel > 0">{{ container.item.upgradeLevel }}</p>
									</div>
									<div class="ui-item-overlay"></div>
								</div>

								<div v-if="player.bag.slots[container.slotId-1].item.requiredLevel > player.level" class="cant-equip-layer">
									<div class="cant-equip-grayscale"></div>
									<div class="cant-equip-red"></div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="player-related-window">
					<div class="window-buttons-container">
						<div :class="[upgradeItemFrame.open ? 'ui-icon-open' : '', 'upgrade-window-button ui-hover-window-button']" @mouseover="itemHoverEnter({title: 'Upgrade Weapon'}, -1, 'interface')" @mouseleave="itemHoverLeave()" @click="toggleItemUpgradeFrame()"><p>{{ String.fromCharCode(this.keybinds.upgradeItem) }}</p></div>
						<div></div>
						<div></div>
						<div></div>
						<div :class="[merchantFrame.open ? 'merchant-mode-button-activated' : '', 'merchant-mode-button ui-hover-window-button']" @mouseover="merchantFrame.open ? itemHoverEnter({title: 'Leave Town', effectDescription: Math.round(merchantFrame.cooldown/60*100)/100+' min cooldown'}, -1, 'interface') : itemHoverEnter({title: 'Hearthstone to Town', effectDescription: Math.round(merchantFrame.cooldown/60*100)/100+' min cooldown'}, -1, 'interface')" @mouseleave="itemHoverLeave()" @click="itemHoverLeave() + toggleMerchantFrame(1) + closeLootFrame('merchant')"><p>{{ String.fromCharCode(this.keybinds.merchant) }}</p></div>
					</div>

					<div v-if="upgradeItemFrame.open" class="upgrade-item-frame">
						<div class="upgrade-item-frame-dark-bg-layer"></div>
						<div class="upgrade-item-slot">
							<div v-if="upgradeItemFrame.itemPreview[0] != null" class="item-quality-border" :style="'box-shadow: inset 0 0 6px 4px'+getQualityColor(upgradeItemFrame.itemPreview[0])+', 0 0 40px 4px'+getQualityColor(upgradeItemFrame.itemPreview[0])"></div>
							<div class="upgrade-item-overlay"></div>
							<div @click="takeOffItemFromUpgrade() + itemHoverLeave()" @mouseover="itemHoverEnter(upgradeItemFrame.itemPreview[0], 0, 'upgradeFrame')" @mouseleave="itemHoverLeave()" class="ui-item" :style="'background-image: url(assets/img/ui/icons/'+itemIcon(upgradeItemFrame.itemPreview[0])+'.png);'" v-if="upgradeItemFrame.itemPreview[0] != null">
							</div>
						</div>
						<div class="upgrade-item-slot-name">
							<p v-if="upgradeItemFrame.itemPreview[0] != null" :class="upgradeItemQuality">{{ upgradeItemFrame.itemPreview[0].name }}</p>
						</div>
						<div class="upgrade-item-stats-change">
							<div v-if="upgradeItemIsItemOk">
								<p style="color: #ffd100">Lvl {{ upgradeItemFrame.item.upgradeLevel == null ? '0' : upgradeItemFrame.item.upgradeLevel }}</p>
								<img src="assets/img/ui/upgrade/reforgegreenarrow.png">
								<p style="color: #ffd100">Lvl {{ upgradeItemFrame.itemPreview[0].upgradeLevel }}</p>
							</div>
							<div v-if="upgradeItemIsItemOk">
								<p>{{ upgradeItemFrame.item.minDamage }}</p>
								<img src="assets/img/ui/upgrade/reforgegreenarrow.png">
								<p :style="isItAnUpgrade(upgradeItemFrame.item.minDamage, upgradeItemFrame.itemPreview[0].minDamage)">{{ upgradeItemFrame.itemPreview[0].minDamage }}</p>
							</div>
							<div v-if="upgradeItemIsItemOk">
								<p>{{ upgradeItemFrame.item.maxDamage }}</p>
								<img src="assets/img/ui/upgrade/reforgegreenarrow.png">
								<p :style="isItAnUpgrade(upgradeItemFrame.item.maxDamage, upgradeItemFrame.itemPreview[0].maxDamage)">{{ upgradeItemFrame.itemPreview[0].maxDamage }}</p>
							</div>
							<div v-if="upgradeItemIsItemOk && upgradeItemQualityUpgrade">
								<p :style="'color:'+getQualityColor(upgradeItemFrame.item)">{{ qualityText(upgradeItemFrame.item) }}</p>
								<img src="assets/img/ui/upgrade/reforgegreenarrow.png">
								<p :style="'color:'+getQualityColor(upgradeItemFrame.itemPreview[0])">{{ qualityText(upgradeItemFrame.itemPreview[0]) }}</p>
							</div>
						</div>
						<button @click="itemUpgradeConditions ? upgradeItemButton() : ''" :class="[itemUpgradeConditions ? '' : 'upgrade-item-button-gray', 'upgrade-item-button']"><p v-if="upgradeItemFrame.item == null">Upgrade price</p><span class="upgrade-item-price"><p v-if="upgradeItemFrame.item" :style="itemUpgradeConditions ? '' : 'color: #ff0000'" v-html="moneyStylizer(upgradeItemPrice(upgradeItemFrame.item))"></p></span></button>
						<button :style="buttonMoveToUpgrade" class="upgrade-item-button" @click="selectedItemUpgradeConditions == 'yes' ? moveSelectedToUpgrade() : takeOffItemFromUpgrade() + itemHoverLeave()">{{ moveItemToUpgradeText }}</button>					
					</div>
				</div>
			</div>
			
			<div style="display: inline-block; position: fixed; bottom: 35px;">
				<button v-if="enemiesPools[currentEnemyPool-1]!=null" @click="currentEnemyPool--">prev</button>
				<button v-if="enemiesPools[currentEnemyPool+1]!=null" @click="currentEnemyPool++">next</button><!--&& player.progression>currentEnemyPool-->
				<button @click="player.level++">+1 lvl</button>
				<button @click="enemies[selectedEnemy].level++">+1 lvl enemy</button>
				<button @click="enemies[selectedEnemy].hp=0">instant kill</button>
				<button @click="addItem(rand(1,2), player.bag.slots, 1)">add item 1-2</button>
				<button @click="addItem(2, player.bag.slots, 3)">add x3 id2 {{getItemById(2).name}}</button>
				<input type="number" v-model.number="player.xp" style="width: 30px">
				<input type="number" v-model.number="player.level" style="width: 30px">
				<button @click="player.money = player.money.plus(49)">49 c</button>
				<button @click="player.money = player.money.plus(4900)">49 s</button>
				<button @click="player.money = player.money.plus(49000000)">4900 g</button>
				<button @click="player.money = player.money.plus(49000000000000)">490 d</button>
				<button @click="player.money = player.money.plus(490000000000000000)">4900000 d</button>
				<button @click="player.money = player.money.plus(49000000000000000000000000000000000000000000)">4.9e32 d</button>
				<input type="number" v-model.number="enemies[selectedEnemy].level" style="width: 30px">
				<input type="number" v-model.number="currentEnemy" style="width: 30px">
				<input type="number" v-model.number="player.bag.bagSpace" style="width: 30px">
				<button v-if="selectedItem.item.slotType != null && selectedItem.item.quality > 1" style="width: auto;" @click="upgradeItem(selectedItem.item)">upgrade: <span v-html="moneyStylizer(upgradeItemPrice(selectedItem.item))"></span></button>
				<button @click="itemCheatMenu = !itemCheatMenu">Toggle cheat menu</button>
				<button @click="error(Math.random())">Test error</button>
			</div>

			<div v-if="maxLevel > player.level" class="emptyxpbar" :data-label="hoverxp ? player.xp+' / '+player.xpToNextLevel+' ('+Math.round(player.xp/player.xpToNextLevel*100)+'%)': ''" @mouseover="hoverxp = true" @mouseleave="hoverxp = false">
				<div class="xpbar" :style="'width:'+(player.xp/player.xpToNextLevel)*100+'%'"></div>
			</div>

			<div v-if="itemCheatMenu" class="cheat-menu-item">
				<div>
					<p style="margin-right: 10px;">Quantity:</p>
					<input type="number" v-model.number="giveItemQuantity" style="width: 30px; height: 25px; background-color: #6ce7d3; margin-right: 10px;">
					<button style="background-color: darkred; padding: 1px 4px 4px 1px;" @click="debugDeleteAllBagItems()">Empty the bag</button>
				</div>
				<div v-for="item in items" :key="item.id" @mouseover="itemHoverEnter(item, 0, -1)" @mouseleave="itemHoverLeave()" @click="addItem(item.id, player.bag.slots, giveItemQuantity)"><img style="width: 34px; height: 34px" :src="'assets/img/ui/icons/'+itemIcon(item)+'.png'"><p><span>{{ item.id }}</span><span> - </span><span :style="'color:'+getQualityColor(item)">{{ cutText(item.name, 28) }}</span></div>
			</div>

		</div>
	</div>
	
	<script src="js/images-preload.js"></script>
	<script src='js/bignumber.min.js'></script>
	<script src="js/loottables.js"></script>
	<script src='js/enemies.js'></script>
	<script src='js/enemiesPools.js'></script>
	<script src='js/items.js'></script>
	<script src='js/merchants.js'></script>
	<script src="js/script.js"></script>
</body>