<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" content="user-scalable=no">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>

	<div id="app">
		<div v-for="particle in damageParticles" :key="particle.id" class="damageparticle" :style="'top: '+particle.posY+'px; left: '+particle.posX+'px; animation-duration: '+particle.duration+'s;'">{{ particle.output }}</div>
		<div id="content" style="margin-top: 20px">

			<div class="enemytab">
				<div class="damagezone" @click="damageEnemy(enemies[currentEnemy]) + (totalClicks++)">
					<div class="portrait">
						<div class="portrait-mob-image" :style="'background-image: url(assets/img/ui/portrait/enemies-portraits/'+enemies[currentEnemy].portrait+'.png);'"></div>
						<div class="portrait-border"></div>
					</div>
					<div class="levelframe">
						<div class="levelindicator"><p :class="difficultyColor(enemies[currentEnemy])">{{ enemies[currentEnemy].level }}</p></div>
					</div>
				</div>
				<div class="enemyname">
					<p>{{ enemies[currentEnemy].name }}</p>
				</div>
				<div class="emptyressourcebar" :data-label="formatHpLabel(enemies[currentEnemy])">
					<div class="hpbar" :style="'width:'+Math.max(enemies[currentEnemy].hp/enemies[currentEnemy].maxHp*100, 0)+'%'"></div>
				</div>
				<div class="emptyressourcebar" :data-label="(countdown-(step/fps)).toFixed(1)+'s'">
					<div class="timebar" :style="'width:'+(100-(step/fps)/countdown*100)+'%'"></div>
				</div>
				<div class="enemymoneyui"><p v-html="moneyStylizer(enemies[currentEnemy].minMoney)"></p><p>-</p><p v-html="moneyStylizer(enemies[currentEnemy].maxMoney)"></p></div>
			</div>
			
			
			<div class="playermoneyui"><p v-html="moneyStylizer(player.money)"></p></div>
			<div><p style="color: #0f0">{{ player.progression }}</p></div>
			<div><p style="color: #0ff">{{ player.level }}</p></div>
			<button v-if="enemies[currentEnemy-1]!=null" @click="currentEnemy--">prev</button>
			<button v-if="enemies[currentEnemy+1]!=null && player.progression>currentEnemy" @click="currentEnemy++">next</button>
			<button @click="player.level++">+1 lvl</button>
			<button @click="enemies[currentEnemy].level++">+1 lvl enemy</button>
			<input type="number" v-model.number="player.level" style="width: 30px">
			<input type="number" v-model.number="player.money" style="width: 30px">
			<input type="number" v-model.number="enemies[currentEnemy].level" style="width: 30px">
			<input type="number" v-model.number="enemies[currentEnemy].minMoney" style="width: 30px">
			<input type="number" v-model.number="enemies[currentEnemy].maxMoney" style="width: 30px">
			<input type="number" v-model.number="currentEnemy" style="width: 30px">
			<div class="emptyxpbar" :data-label="hoverxp ? player.xp+' / '+player.xpToNextLevel : ''" @mouseover="hoverxp = true" @mouseleave="hoverxp = false">
				<div class="xpbar" :style="'width:'+(player.xp/player.xpToNextLevel)*100+'%'"></div>
			</div>
		</div>
	</div>
	
	<script src="js/script.js"></script>
</body>